<div>
  <div class="container-fluid" >
      <div class="row">
        <nav id="main-menu" >
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <i class="fa logo-img"></i>                    
                </a>
            </div>
            <ul>
                <li>
                    <a routerLink="familyroute" routerLinkActive="active">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text" >
                            Profile
                        </span>
                    </a>
                </li>
                <li class="has-subnav">
                    <a routerLink="dashboard" routerLinkActive="active">
                        <i class="fa fa-laptop fa-2x"></i>
                        <span class="nav-text">
                            Dashboard
                        </span>
                    </a>
                </li>
                <li class="has-subnav">
                    <a routerLink="income" routerLinkActive="active">
                        <i class="fa fa-list fa-2x"></i>
                        <span class="nav-text">
                            Income
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a routerLink="spend" routerLinkActive="active">
                        <i class="fa fa-folder-open fa-2x"></i>
                        <span class="nav-text">
                            Expense
                        </span>
                    </a>
                    
                </li>
                <li>
                    <a routerLink="assets" routerLinkActive="active">
                        <i class="fa fa-bar-chart-o fa-2x"></i>
                        <span class="nav-text">
                           Assets
                        </span>
                    </a>
                </li>
                <li>
                    <a routerLink="liability" routerLinkActive="active">
                        <i class="fa fa-font fa-2x"></i>
                        <span class="nav-text">
                            Liabilities
                        </span>
                    </a>
                </li>
                <li>
                    <a routerLink="goal" routerLinkActive="active">
                        <i class="fa fa-table fa-2x"></i>
                        <span class="nav-text">
                            Goals
                        </span>
                    </a>
                </li>
                <li>
                    <a routerLink="main" routerLinkActive="active">
                        <i class="fa fa-map-marker fa-2x"></i>
                        <span class="nav-text">
                            Tax
                        </span>
                    </a>
                </li>
                <li>
                    <a routerLink="risk" routerLinkActive="active">
                        <i class="fa fa-info fa-2x"></i>
                        <span class="nav-text">
                            Risk
                        </span>
                    </a>
                </li>
                <li>
                    <a routerLink="advice" routerLinkActive="active">
                        <i class="fa fa-info fa-2x"></i>
                        <span class="nav-text">
                            Advice
                        </span>
                    </a>
                </li>
            </ul>
        
            <ul class="logout">
                <li>
                    <a href="#">
                            <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>  
            </ul>
        </nav>
        
      </div>
  </div>

</div>
  