<!--start of navbar2 -->





     <br>
     <div class="container">
     <mat-expansion-panel class="accordion" [expanded]="step === 0">
        
      <mat-expansion-panel-header>
          <mat-panel-title>
          Tax
          </mat-panel-title>
          <mat-panel-description>
              Fill your Tax details
          </mat-panel-description>
      </mat-expansion-panel-header>

      <!-- start Tax content -->
      <div> 
          <mat-accordion>

              <mat-expansion-panel>

                      <mat-expansion-panel-header>
                          <mat-panel-title>
                                  Gross Income
                          </mat-panel-title>
                          <mat-panel-description>
                          Gross Details
                          </mat-panel-description>
                      </mat-expansion-panel-header>
              
                      <div>
                        <h2>Gross</h2>
                        <div class="row pull-right" style="margin-top: -80px;">
                            <button type="button" (click)="onGrossGet(id)" class="btn btn-link">
                                <span>
                                  <i class="far fa-arrow-alt-circle-down" routerLink="/tax" aria-hidden="true"></i>
                                  <span>Get</span>
                                </span>
                              </button>
                          <button type="button" class="btn btn-link" (click)="onGrossSave()" data-toggle="modal" data-target="#exampleModalCenter">
                            <span>
                              <i class="fa fa-save" aria-hidden="true"></i>
                              <span> Save</span>
                            </span>
                          </button>
                          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLongTitle">Gross Amount</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <h3>Your Gross Amount saved successfully</h3>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          <button type="button" (click)="resetGross()" class="btn btn-link">
                            <span>
                              <i class="fas fa-sync fa-spin" aria-hidden="true"></i>
                              <span> Reset</span>
                            </span>
                          </button>
                          <button type="button" class="btn btn-link">
                            <span>
                              <i class="fa fa-info" aria-hidden="true"></i>
                              <span> Help</span>
                            </span>
                          </button>
                        </div>
                        <div class="card">
                          <div class="card-header">
                            Income from salaries (Per Annum)
                          </div>
                          <div class="card-body">
                            <table class="table table-hover table-sm">
                              <thead class="thead-light">
                                <tr>
                                  <!--Head of table start-->
                                  <th scope="col">Name</th>
                                  <th scope="col"></th>
                                  <th scope="col"></th>
                                  <th scope="col">Amount</th>
                                </tr>
                              </thead>
                              <!--Head of table end-->
                              <tbody>
                                <!--Body of table start-->
                                <tr>
                                  <td scope="row">Basic Salary</td>
                                  <td></td>
                                  <td></td>
                                  <td>
                                    <input type="number" value="0" name="bsalary" [(ngModel)]="gross.bsalary">
                                  </td>
                                </tr>
                                <tr>
                                  <td scope="row">DA</td>
                                  <td></td>
                                  <td></td>
                                  <td>
                                    <input type="number" value="0" name="da" [(ngModel)]="gross.da">
                                  </td>
                                </tr>
                                <tr>
                                  <td scope="row">HRA(Click checkbox if you are staying in metro city)</td>
                                  <td>
                                    <input type="checkbox">
                                  </td>
                                  <td></td>
                                  <td>
                                    <input type="number" value="0" name="hra" [(ngModel)]="gross.hra">
                                  </td>
                                </tr>
                                <tr>
                                  <td scope="row">Conveyance</td>
                                  <td></td>
                                  <td></td>
                                  <td>
                                    <input type="number" value="0" name="conveyance" [(ngModel)]="gross.conveyance">
                                  </td>
                                </tr>
                                <tr>
                                  <td scope="row">Children Education</td>
                                  <td></td>
                                  <td></td>
                                  <td>
                                    <input type="number" value="0" name="childedu" [(ngModel)]="gross.childedu">
                                  </td>
                                </tr>
                                <tr>
                                  <td scope="row">Medical</td>
                                  <td></td>
                                  <td></td>
                                  <td>
                                    <input type="number" value="0" name="medical" [(ngModel)]="gross.medical">
                                  </td>
                                </tr>
                                <tr>
                                  <td scope="row">LTA(Click checkbox if you are claiming for the current year)</td>
                                  <td>
                                    <input type="checkbox">
                                  </td>
                                  <td></td>
                                  <td>
                                    <input type="number" value="0" name="lta" [(ngModel)]="gross.lta">
                                  </td>
                                </tr>
                                <tr>
                                  <td scope="row">Other Allownces</td>
                                  <td></td>
                                  <td></td>
                                  <td>
                                    <input type="number" value="0" name="otherallown" [(ngModel)]="gross.otherallown">
                                  </td>
                                </tr>
                                <tr>
                                  <td scope="row">Bonus</td>
                                  <td></td>
                                  <td></td>
                                  <td>
                                    <input type="number" value="0" name="bonus" [(ngModel)]="gross.bonus">
                                  </td>
                                </tr>
                              </tbody>
                              <!--Body of table end-->
                            </table>
                          </div>
                        </div>
                        <br>
                        <div class="card">
                          <div class="card-header">
                            Income from House Properties
                          </div>
                          <div class="card-body">
                            <table class="table table-hover table-sm">
                              <thead class="thead-light">
                                <tr>
                                  <!--Head of table start-->
                                  <th scope="col">Name</th>
                                  <th scope="col"></th>
                                  <th scope="col"></th>
                                  <th scope="col">Amount</th>
                                </tr>
                              </thead>
                              <!--Head of table end-->
                              <tbody>
                                <!--Body of table start-->
                                <tr>
                                  <td scope="row">Rental Income</td>
                                  <td></td>
                                  <td></td>
                                  <td>
                                    <input type="number" value="0" name="rentincome" [(ngModel)]="gross.rentincome">
                                  </td>
                                </tr>
                  
                              </tbody>
                              <!--Body of table end-->
                            </table>
                          </div>
                        </div>
                        <br>
                        <div class="card">
                          <div class="card-header">
                            Income from other Sources
                          </div>
                          <div class="card-body">
                            <table class="table table-hover table-sm">
                              <thead class="thead-light">
                                <tr>
                                  <!--Head of table start-->
                                  <th scope="col">Name</th>
                                  <th scope="col"></th>
                                  <th scope="col"></th>
                                  <th scope="col">Amount</th>
                                </tr>
                              </thead>
                              <!--Head of table end-->
                              <tbody>
                                <!--Body of table start-->
                                <tr>
                                  <td scope="row">interest From Saving(FD,RD etc)</td>
                                  <td></td>
                                  <td></td>
                                  <td>
                                    <input type="number" value="0" name="saving" [(ngModel)]="gross.saving">
                                  </td>
                                </tr>
                                <tr>
                                  <td scope="row">Interest From Bonds</td>
                                  <td></td>
                                  <td></td>
                                  <td>
                                    <input type="number" value="0" name="bonds" [(ngModel)]="gross.bonds">
                                  </td>
                                </tr>
                                <tr>
                                  <td scope="row">Conveyance</td>
                                  <td></td>
                                  <td></td>
                                  <td>
                                    <input type="number" value="0" name="convay" [(ngModel)]="gross.conveyanceother">
                                  </td>
                                </tr>
                              </tbody>
                              <!--Body of table end-->
                            </table>           
                      </div>
                      <div>
                          <table border="1">
                               <tr>
                                 <th>Basic Salary</th>
                                 <th>DA</th>
                                 <th>HRA</th>
                                 <th>Conveyance</th>
                                 <th>Child Education</th>
                                 <th>Medical </th>
                                 <th>LTA</th>
                                 <th>Other Allownces</th>
                                 <th>Bonus</th>
                                 <th>Rent Income</th>
                                 <th>Savings</th>
                                 <th>Bonds</th>
                                 <th>conveyance other</th>
                               </tr>
                               <tr>
                                  <td>{{output.bsalary}}</td>
                                  <td>{{output.da}}</td>
                                 <td>{{output.hra}}</td>
                                 <td>{{output.conveyance}}</td>
                                 <td>{{output.childedu}}</td>
                                 <td>{{output.medical}}</td>
                                 <td>{{output.lta}}</td>
                                <td>{{output.otherallown}}</td>
                                <td>{{output.bonus}}</td>
                                <td>{{output.rentincome}}</td>
                                <td>{{output.saving}}</td>
                                <td>{{output.bonds}}</td>
                                <td>{{output.conveyanceother}}</td>
                 
                               </tr>
                              
                             </table>
                 
                           </div>
              
              </mat-expansion-panel>     
              
              <mat-expansion-panel>

                      <mat-expansion-panel-header>
                          <mat-panel-title>
                                  80C Deduction
                          </mat-panel-title>
                          <mat-panel-description>
                          80C Deduction Details
                          </mat-panel-description>
                      </mat-expansion-panel-header>
              
                      <div>
                        <h1>80C Deduction</h1>
                        <div class="row pull-right" style="margin-top: -80px;">
                            <button type="button" (click)="onEightycGet(id)" class="btn btn-link">
                                <span>
                                  <i class="far fa-arrow-alt-circle-down" routerLink="/tax" aria-hidden="true"></i>
                                  <span>Get</span>
                                </span>
                              </button>
                          <button type="button" class="btn btn-link" (click)="onEightycSave()" data-toggle="modal" data-target="#eightycModelCenter">
                            <span>
                              <i class="fa fa-save" aria-hidden="true"></i>
                              <span> Save</span>
                            </span>
                          </button>
                          <div class="modal fade" id="eightycModelCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="eightycModalLongTitle">80C Deduction</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <h3>Your 80C Deduction Details Saved successfully</h3>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          <button type="button" (click)="resetEightyc()" class="btn btn-link">
                            <span>
                              <i class="fas fa-sync fa-spin" aria-hidden="true"></i>
                              <span> Reset</span>
                            </span>
                          </button>
                          <button type="button" class="btn btn-link">
                            <span>
                              <i class="fa fa-info" aria-hidden="true"></i>
                              <span> Help</span>
                            </span>
                          </button>
                        </div>
                        <div class="card">
                          <div class="card-header">
                            Investment Other than Home
                          </div>
                          <div class="card-body">
                            <table class="table table-hover table-sm">
                              <thead class="thead-light">
                                <tr>
                                  <!--Head of table start-->
                                  <th scope="col">Name</th>
                                  <th scope="col"></th>
                                  <th scope="col"></th>
                                  <th scope="col">Amount</th>
                                </tr>
                              </thead>
                              <!--Head of table end-->
                              <tbody>
                                <!--Body of table start-->
                                <tr>
                                  <td scope="row">5 Years of Fixed Deposit in Schedule Bank (Enter amount of Tax-Saver Fixed Deposits only)</td>
                                  <td></td>
                                  <td></td>
                                  <td>
                                    <input type="number" value="0" name="Fixed" [(ngModel)]="eightyc.fixed">
                                  </td>
                                </tr>
                                <tr>
                                  <td scope="row">Tution Fees</td>
                                  <td></td>
                                  <td></td>
                                  <td>
                                    <input type="number" value="0" name="tution" [(ngModel)]="eightyc.tution">
                                  </td>
                                </tr>
                                <tr>
                                  <td scope="row">Deposite in NSC</td>
                                  <td>
                                    <input type="checkbox">
                                  </td>
                                  <td></td>
                                  <td>
                                    <input type="number" value="0" name="nsc" [(ngModel)]="eightyc.nsc">
                                  </td>
                                </tr>
                                <tr>
                                  <td scope="row">Deposite in NSS</td>
                                  <td></td>
                                  <td></td>
                                  <td>
                                    <input type="number" value="0" name="nss" [(ngModel)]="eightyc.nss">
                                  </td>
                                </tr>
                                <tr>
                                  <td scope="row">Deposite in Post Office saving Scheme</td>
                                  <td></td>
                                  <td></td>
                                  <td>
                                    <input type="number" value="0" name="post" [(ngModel)]="eightyc.post">
                                  </td>
                                </tr>
                                <tr>
                                  <td scope="row">Interest on NSC Reinvested(Upto 5th Completed year only)</td>
                                  <td></td>
                                  <td></td>
                                  <td>
                                    <input type="number" value="0" name="reinvest" [(ngModel)]="eightyc.reinvest">
                                  </td>
                                </tr>
                                <tr>
                                  <td scope="row">Life Insurance Premium</td>
                                  <td>
                                    <input type="checkbox">
                                  </td>
                                  <td></td>
                                  <td>
                                    <input type="number" value="0" name="licpremium" [(ngModel)]="eightyc.licpremium">
                                  </td>
                                </tr>
                                <tr>
                                  <td scope="row">Equity linked Savings Scheme (ELSS)</td>
                                  <td></td>
                                  <td></td>
                                  <td>
                                    <input type="number" value="0" name="equity" [(ngModel)]="eightyc.equity">
                                  </td>
                                </tr>
                                <tr>
                                  <td scope="row">Provident Fund</td>
                                  <td></td>
                                  <td></td>
                                  <td>
                                    <input type="number" value="0" name="pf" [(ngModel)]="eightyc.pf">
                                  </td>
                                </tr>
                                <tr>
                                  <td scope="row">Public Provident Fund</td>
                                  <td></td>
                                  <td></td>
                                  <td>
                                    <input type="number" value="0" name="ppf" [(ngModel)]="eightyc.ppf">
                                  </td>
                                </tr>
                                <tr>
                                  <td scope="row">Others</td>
                                  <td></td>
                                  <td></td>
                                  <td>
                                    <input type="number" value="0" name="other" [(ngModel)]="eightyc.other">
                                  </td>
                                </tr>
                                <tr>
                                  <td scope="row">Tution Fees</td>
                                  <td></td>
                                  <td></td>
                                  <td>
                                    <input type="number" value="0" name="tutionfee" [(ngModel)]="eightyc.tutionfee">
                                  </td>
                                </tr>
                                <tr>
                                  <td scope="row">ULIP of UTI/LIC</td>
                                  <td></td>
                                  <td></td>
                                  <td>
                                    <input type="number" value="0" name="ulip" [(ngModel)]="eightyc.ulip">
                                  </td>
                                </tr>
                              </tbody>
                              <!--Body of table end-->
                            </table>           
                      </div>
                      <div>
                        <table border="1">
                             <tr>
                               <th>Fixed Deposite in schedule bank</th>
                               <th>Tution Fee</th>
                               <th>NSC</th>
                               <th>NSS</th>
                               <th>PO saving scheme</th>
                               <th>NSC Reinvested</th>
                               <th>Life insurence premium </th>
                               <th>ELSS</th>
                               <th>PF</th>
                               <th>PPF</th>
                               <th>others</th>
                               <th>tutionfee</th>
                               <th>ulip</th>
                             </tr>
                             <tr>
                                <td>{{output.fixed}}</td>
                                <td>{{output.tution}}</td>
                               <td>{{output.nsc}}</td>
                               <td>{{output.nss}}</td>
                               <td>{{output.post}}</td>
                               <td>{{output.reinvest}}</td>
                               <td>{{output.licpremium}}</td>
                              <td>{{output.equity}}</td>
                              <td>{{output.pf}}</td>
                              <td>{{output.ppf}}</td>
                              <td>{{output.other}}</td>
                              <td>{{output.tutionfee}}</td>
                              <td>{{output.ulip}}</td>
               
                             </tr>
                            
                           </table>
               
                         </div>
              
              </mat-expansion-panel>   
              
              <mat-expansion-panel>

                      <mat-expansion-panel-header>
                          <mat-panel-title>
                                  Home Deduction
                          </mat-panel-title>
                          <mat-panel-description>
                          Home Deduction Details
                          </mat-panel-description>
                      </mat-expansion-panel-header>
              
                      <div>
                        <h3>Home Deduction</h3>
      <div class="row pull-right" style="margin-top: -80px;">
          <button type="button" (click)="onHomeGet(id)" class="btn btn-link">
              <span>
                <i class="far fa-arrow-alt-circle-down" routerLink="/tax" aria-hidden="true"></i>
                <span>Get</span>
              </span>
            </button>
        <button type="button" class="btn btn-link" (click)="onHomeSave()" data-toggle="modal" data-target="#homeModelCenter">
          <span>
            <i class="fa fa-save" aria-hidden="true"></i>
            <span> Save</span>
          </span>
        </button>
        <div class="modal fade" id="homeModelCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="homeModalLongTitle">Home Deduction</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <h3>Your Home Deduction Details Saved successfully</h3>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <button type="button" (click)="resetHome()" class="btn btn-link">
          <span>
            <i class="fas fa-sync fa-spin" aria-hidden="true"></i>
            <span> Reset</span>
          </span>
        </button>
        <button type="button" class="btn btn-link">
          <span>
            <i class="fa fa-info" aria-hidden="true"></i>
            <span> Help</span>
          </span>
        </button>
      </div>
      <div class="card">
        <div class="card-header">
          Home Deduction
        </div>
        <div class="card-body">
          <table class="table table-hover table-sm">
            <thead class="thead-light">
              <tr>
                <!--Head of table start-->
                <th scope="col">Deduction Under Section 24B</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <!--Head of table end-->
            <tbody>
              <!--Body of table start-->
              <tr>
                <td scope="row">Interest in Housing Loan(click checkbox if possession is taken)</td>
                <td>
                  <input type="checkbox">
                </td>
                <td></td>
                <td>
                  <input type="number" value="0" name="homeloan" [(ngModel)]="home.homeloan">
                </td>
              </tr>
            </tbody>
            <!--Body of table end-->
            <thead class="thead-light">
              <tr>
                <!--Head of table start-->
                <th scope="col">Deduction Under Section 80C</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <!--Head of table end-->
            <tbody>
              <!--Body of table start-->
              <tr>
                <td scope="row">Pricipal Loan Repayment(Housing Loan)</td>
                <td></td>
                <td></td>
                <td>
                  <input type="number" value="0" name="prncpalloan" [(ngModel)]="home.prncpalloan">
                </td>
              </tr>
            </tbody>
            <!--Body of table end-->
            <thead class="thead-light">
              <tr>
                <!--Head of table start-->
                <th scope="col">Rent for HRA</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <!--Head of table end-->
            <tbody>
              <!--Body of table start-->
              <tr>
                <td scope="row">Mention the Rent Claimed for HRA</td>
                <td></td>
                <td></td>
                <td>
                  <input type="number" value="0" name="rentclm" [(ngModel)]="home.rentclm">
                </td>
              </tr>
            </tbody>
            <!--Body of table end-->
            <thead class="thead-light">
              <tr>
                <!--Head of table start-->
                <th scope="col">Deduction Under section 80EE</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <!--Head of table end-->
            <tbody>
              <!--Body of table start-->
              <tr>
                <td scope="row">Remaining Interest on Housing Loan </td>
                <td></td>
                <td></td>
                <td>
                  <input type="number" value="0" name="remintrst" [(ngModel)]="home.remintrst">
                </td>
              </tr>
            </tbody>
            <!--Body of table end-->
            <thead class="thead-light">
              <tr>
                <!--Head of table start-->
                <th scope="col">Rent Claimed Under Section 80GG</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <!--Head of table end-->
            <tbody>
              <!--Body of table start-->
              <tr>
                <td scope="row">Mentioned the Rent claimed for section under 80GG</td>
                <td></td>
                <td></td>
                <td>
                  <input type="number" value="0" name="rentclmgg" [(ngModel)]="home.rentclmgg">
                </td>
              </tr>
            </tbody>
            <!--Body of table end-->
          </table>          
                      </div>
                      <div>
                        <table border="1">
                             <tr>
                               <th>Home Loan</th>
                               <th>Principal Loan</th>
                               <th>Rent claiming</th>
                               <th>Remaining Interest</th>
                               <th>Rent Claimed</th>
                             </tr>
                             <tr>
                                <td>{{output.homeloan}}</td>
                                <td>{{output.prncpalloan}}</td>
                               <td>{{output.rentclm}}</td>
                               <td>{{output.remintrst}}</td>
                               <td>{{output.rentclmgg}}</td>
               
                             </tr>
                            
                           </table>
               
                         </div>
              
              </mat-expansion-panel>   
              
              <mat-expansion-panel>

                      <mat-expansion-panel-header>
                          <mat-panel-title>
                              80D Deduction
                          </mat-panel-title>
                          <mat-panel-description>
                          80D Deduction Details
                          </mat-panel-description>
                      </mat-expansion-panel-header>
              
                      <div>
                        <h3>80D deduction </h3>
                        <div class="row pull-right" style="margin-top: -80px;">
                          <button type="button" (click)="onEightydGet(id)" class="btn btn-link">
                            <span>
                              <i class="far fa-arrow-alt-circle-down" routerLink="/tax" aria-hidden="true"></i>
                              <span>Get</span>
                            </span>
                          </button>
                          <button type="button" class="btn btn-link" (click)="onEightydSave()"(click)="resetEightyd()" data-toggle="modal" data-target="#eightydModelCenter">
                            <span>
                              <i class="fa fa-save" aria-hidden="true"></i>
                              <span> Save</span>
                            </span>
                          </button>
                          <div class="modal fade" id="eightydModelCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="eightydModalLongTitle">80D Deduction</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  
                                  <h3>Your 80D Deduction Details Saved successfully</h3>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          <button type="button" (click)="resetEightyd()" class="btn btn-link">
                            <span>
                              <i class="fas fa-sync fa-spin" aria-hidden="true"></i>
                              <span> Reset</span>
                            </span>
                          </button>
                          <button type="button" class="btn btn-link">
                            <span>
                              <i class="fa fa-info" aria-hidden="true"></i>
                              <span> Help</span>
                            </span>
                          </button>
                        </div>
                        <div class="card">
                          <div class="card-header">
                            80D Deduction
                          </div>
                          <div class="card-body">
                            <table class="table table-hover table-sm">
                              <thead class="thead-light">
                                <tr>
                                  <!--Head of table start-->
                                  <th scope="col">Name</th>
                                  <th scope="col"></th>
                                  <th scope="col"></th>
                                  <th scope="col">Amount</th>
                                </tr>
                              </thead>
                              <!--Head of table end-->
                              <tbody>
                                <!--Body of table start-->
                                <tr>
                                  <td scope="row">Medical Insurance for Self</td>
                                  <td> </td>
                                  <td></td>
                                  <td>
                                    <input type="number" value="0" name="insureself" [(ngModel)]="eightyd.medself">
                                  </td>
                                </tr>
                                <tr>
                                  <td scope="row">Medical Insurance for Parents</td>
                                  <td></td>
                                  <td></td>
                                  <td>
                                    <input type="number" value="0" name="insureparents" [(ngModel)]="eightyd.medparents">
                                  </td>
                                </tr>
                                <tr>
                                  <td scope="row">Preventive Health Checkup</td>
                                  <td></td>
                                  <td></td>
                                  <td>
                                    <input type="number" value="0" name="health" [(ngModel)]="eightyd.healthcheck">
                                  </td>
                                </tr>
                              </tbody>
                              <!--Body of table end-->
                            </table>          
                      </div>
                      <div>
                        <table border="1">
                             <tr>
                               <th>Medself</th>
                               <th>Medparents</th>
                               <th>Healthcheck</th>
                             </tr>
                             <tr>
                               <td>{{output.medself}}</td>
                               <td>{{output.medparents}}</td>
                               <td>{{output.healthcheck}}</td>
               
                             </tr>
                            
                           </table>
               
                         </div>
              
              </mat-expansion-panel> 
              
              <mat-expansion-panel>

                      <mat-expansion-panel-header>
                          <mat-panel-title>
                              Other Deduction
                          </mat-panel-title>
                          <mat-panel-description>
                            Other Deduction Details
                          </mat-panel-description>
                      </mat-expansion-panel-header>
              
                      <div>
                        <h3>other deduction</h3>
                        <div class="row pull-right" style="margin-top: -80px;">
                            <button type="button" (click)="onOtherGet(id)" class="btn btn-link">
                                <span>
                                  <i class="far fa-arrow-alt-circle-down" routerLink="/tax" aria-hidden="true"></i>
                                  <span>Get</span>
                                </span>
                              </button>
                          <button type="button" class="btn btn-link" (click)="onOtherSave()" data-toggle="modal" data-target="#otherModelCenter">
                            <span>
                              <i class="fa fa-save" aria-hidden="true"></i>
                              <span> Save</span>
                            </span>
                          </button>
                          <div class="modal fade" id="otherModelCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="otherModalLongTitle">Other Deduction</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <h3>Your Other Deduction Details Saved successfully</h3>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" (click)="onOtherGet(id)" (click)="resetOther()"class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          <button type="button" (click)="resetOther()" class="btn btn-link">
                            <span>
                              <i class="fas fa-sync fa-spin" aria-hidden="true"></i>
                              <span> Reset</span>
                            </span>
                          </button>
                          <button type="button" class="btn btn-link">
                            <span>
                              <i class="fa fa-info" aria-hidden="true"></i>
                              <span> Help</span>
                            </span>
                          </button>
                        </div>
                        <div class="card">
                          <div class="card-header">
                            Other Deduction
                          </div>
                          <div class="card-body">
                            <table class="table table-hover table-sm">
                              <thead class="thead-light">
                                <tr>
                                  <!--Head of table start-->
                                  <th scope="col">Deduction Under Section 80DD</th>
                                  <th scope="col"></th>
                                  <th scope="col"></th>
                                  <th scope="col"></th>
                                </tr>
                  
                              </thead>
                              <!--Head of table end-->
                              <tbody>
                                <!--Body of table start-->
                                <tr>
                                  <td scope="row">Medical Treatment/Insurance of Handicapped Dependencies</td>
                                  <td></td>
                                  <td></td>
                                  <td>
                                    <input type="number" value="0" name="handicapped" [(ngModel)]="other.handicapped">
                                  </td>
                                </tr>
                              </tbody>
                              <!--Body of table end-->
                              <thead class="thead-light">
                                <tr>
                                  <!--Head of table start-->
                                  <th scope="col">Deduction Under Section 80DDB</th>
                                  <th scope="col"></th>
                                  <th scope="col"></th>
                                  <th scope="col"></th>
                                </tr>
                              </thead>
                              <!--Head of table end-->
                              <tbody>
                                <!--Body of table start-->
                                <tr>
                                  <td scope="row">Medical Treatment ( Specified Disease only )</td>
                                  <td></td>
                                  <td></td>
                                  <td>
                                    <input type="number" value="0" name="medicaltreat" [(ngModel)]="other.medicaltreat">
                                    </td>
                                </tr>
                              </tbody>
                              <!--Body of table end-->
                              <thead class="thead-light">
                                <tr>
                                  <!--Head of table start-->
                                  <th scope="col">Deduction Under Section 80E</th>
                                  <th scope="col"></th>
                                  <th scope="col"></th>
                                  <th scope="col"></th>
                                </tr>
                              </thead>
                              <!--Head of table end-->
                              <tbody>
                                <!--Body of table start-->
                                <tr>
                                  <td scope="row">Repayment of Loan of higher Self education</td>
                                  <td></td>
                                  <td></td>
                                  <td>
                                    <input type="number" value="0" name="selfedu" [(ngModel)]="other.selfedu">
                                  </td>
                                </tr>
                              </tbody>
                              <!--Body of table end-->
                              <thead class="thead-light">
                                <tr>
                                  <!--Head of table start-->
                                  <th scope="col">Deduction Under section 80CCD</th>
                                  <th scope="col"></th>
                                  <th scope="col"></th>
                                  <th scope="col"></th>
                                </tr>
                              </thead>
                              <!--Head of table end-->
                              <tbody>
                                <!--Body of table start-->
                                <tr>
                                  <td scope="row">NPS </td>
                                  <td></td>
                                  <td></td>
                                  <td>
                                    <input type="number" value="0" name="nps" [(ngModel)]="other.nps">
                                  </td>
                                </tr>
                              </tbody>
                              <!--Body of table end-->
                              <thead class="thead-light">
                                <tr>
                                  <!--Head of table start-->
                                  <th scope="col">Deduction Under section 80 CCG</th>
                                  <th scope="col"></th>
                                  <th scope="col"></th>
                                  <th scope="col"></th>
                                </tr>
                              </thead>
                              <!--Head of table end-->
                              <tbody>
                                <!--Body of table start-->
                                <tr>
                                  <td scope="row">Investment in RGESS</td>
                                  <td></td>
                                  <td></td>
                                  <td>
                                    <input type="number" value="0" name="rgess" [(ngModel)]="other.rgess">
                                  </td>
                                </tr>
                              </tbody>
                              <!--Body of table end-->
                              <thead class="thead-light">
                                <tr>
                                  <!--Head of table start-->
                                  <th scope="col">Deduction Under section 80G</th>
                                  <th scope="col"></th>
                                  <th scope="col"></th>
                                  <th scope="col"></th>
                                </tr>
                              </thead>
                              <!--Head of table end-->
                              <tbody>
                                <!--Body of table start-->
                                <tr>
                                  <td scope="row">Eligible Donations </td>
                                  <td></td>
                                  <td></td>
                                  <td>
                                    <input type="number" value="0" name="donation" [(ngModel)]="other.donation">
                                        </td>
                                </tr>
                              </tbody>
                              <!--Body of table end-->
                            </table>            
                      </div>
                      <div>
                        <table border="1">
                             <tr>
                               <th>Handicapped</th>
                               <th>Medical treatment</th>
                               <th>Self Education</th>
                               <th>NPS</th>
                               <th>RGESS</th>
                               <th>Donations</th>
                             </tr>
                             <tr>
                                <td>{{output.handicapped}}</td>
                               <td>{{output.medicaltreat}}</td>
                                <td>{{output.selfedu}}</td>
                               <td>{{output.nps}}</td>
                               <td>{{output.rgess}}</td>
                               <td>{{output.donation}}</td>
               
                             </tr>
                            
                           </table>
               
                         </div>
              </mat-expansion-panel>     
          </mat-accordion> 
      </div>  <!-- end tax content -->
</mat-expansion-panel> <!-- end tax panel -->
</div>
