.example-card {
  max-width: 500px;
}

.example-header-image1 {
  background-image: url("../img/pratik/asset.jpg");
  background-size: cover;
}
.example-header-image2 {
  background-image: url("../img/pratik/liability.jpg");
  background-size: cover;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
