<br><br>
<div class="container">
        <div class="row"><!--start of div1-->
            <div class="col-md-2"><!--start of div1-->
            </div><!--end of div1 -->
            <div class="col-md-6"><!--start of div2-->
                <h3>Goals</h3><br>
                <h5>Why Goals?</h5>
                <ul>
                    <li>
                        In order to make plans for the future, you need to know where you are today and where you want to be in the future.
                    </li>
                    <li>
                        In order to make plans for the future, you need to know where you are today and where you want to be in the future.
                    </li>
                    <li>
                        In order to make plans for the future, you need to know where you are today and where you want to be in the future.
                    </li>
                </ul>
                <button class="btn btn-info" (click)="selectgoals()">Click to start</button>
        
            </div><!--end of div2-->
            <div class="col-md-4" ><!--start of div3-->
            </div><!--end of div3-->
        </div><!--end of row-->        
</div>