   <!--start of buttons -->
   <div class="pull-right">
        <button type="button" class="btn btn-link" (click)="openChit(chitModal)" >
            <span>
                <i class="fa fa-plus" aria-hidden="true"></i>
                <span>Add</span>
            </span>
        </button>
        <button type="button" class="btn btn-link">
            <span>
                <i class="fa fa-info" aria-hidden="true"></i>
                <span>Help</span>
            </span>
        </button>
    </div>
    <!-- modal start -->
    <ng-template #chitModal let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title" id="chitModal">Chit Funds</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <div class="modal-body">
            <form #modalForm='ngForm'>
                <mat-form-field>
                        <input 
                        matInput 
                        ngControl="chit_name"
                        class="full-width" 
                        placeholder="Chit Name"
                        jhiNumberOnly 
                        name="chit_name" 
                        id="chit_name" 
                        [(ngModel)]="chitfund.chit_name" 
                        
                        required
                    >
                </mat-form-field>&nbsp;&nbsp;
                <mat-form-field>
                        <input 
                        matInput
                        ngControl="chit_holder_name"
                        class="full-width" 
                        placeholder="Chit Holder Name"
                        name="chit_holder_name" 
                        id="chit_holder_name" 
                        [(ngModel)]="chitfund.chit_holder_name" 
                        
                        required
                    >
                </mat-form-field>
                <mat-form-field>
                        <input
                        required
                        ngControl="chit_start_date"
                        matInput 
                        [matDatepicker]="picker1"
                        name="chit_start_date"
                        placeholder="Start Date"
                        [(ngModel)]="chitfund.chit_start_date"
                        >
                    <mat-datepicker-toggle matSuffix [for]="picker1" ></mat-datepicker-toggle>
                    <mat-datepicker #picker1 ></mat-datepicker>
                </mat-form-field>&nbsp;&nbsp;
                <mat-form-field>
                    <input 
                        matInput
                        ngControl="chit_value"
                        class="full-width" 
                        type="number" 
                        jhiNumberOnly Value
                        placeholder="Chit Value" 
                        name="chit_value" 
                        id="chit_value" 
                        [(ngModel)]="chitfund.chit_value"
                        required
                    >
                </mat-form-field>
                <mat-form-field>
                    <input 
                        matInput
                        ngControl="tenure"
                        class="full-width" 
                        type="number" 
                        jhiNumberOnly 
                        placeholder="Tenure [Months]" 
                        name="tenure" 
                        id="tenure" 
                        [(ngModel)]="chitfund.tenure"
                        required 
                    >
                </mat-form-field>&nbsp;&nbsp;
                <mat-form-field>
                    <input 
                        matInput
                        ngControl="m_payment"
                        class="full-width" 
                        type="number" 
                        jhiNumberOnly 
                        placeholder="Monthly Payment" 
                        name="m_payment" 
                        id="m_payment" 
                        [(ngModel)]="chitfund.m_payment"
                    >
                </mat-form-field>
                <mat-form-field>
                    <input
                        matInput 
                        ngControl="current_value"
                        class="full-width"
                        type="number" 
                        jhiNumberOnly 
                        placeholder="Current Value" 
                        name="current_value" 
                        id="current_value" 
                        [(ngModel)]="chitfund.current_value"
                >
                </mat-form-field>&nbsp;&nbsp;
                <mat-form-field>
                    <textarea
                        matInput 
                        rows="3" 
                        cols="50" 
                        placeholder="Comment"
                        name="notes" 
                        id="notes" 
                        [(ngModel)]="chitfund.notes"
                        >
                    </textarea>
                </mat-form-field>
                <div class="modal-footer">
                    <button type="button" mat-button class=" btn btn-outline-primary"
                    [disabled]="modalForm.form.invalid"
                    (click)="c('Save click')">
                        <span class="fa fa-save"></span>&nbsp;
                        <span>Save</span>
                    </button>
                    <button type="button"  mat-button class=" btn btn-outline-accent" data-dismiss="modal" (click)="d('Cross click')">
                        <span class="fa fa-ban"></span>&nbsp;
                        <span>Cancel</span>
                    </button>  
                </div> <!-- footer -->
            </form>
        </div> <!-- body -->
    </ng-template>
    <ng-template #editChitModal  let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title" id="editChitModal">Chit Funds</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #saveForm="ngForm"> 
                    <mat-form-field>
                        <input 
                            matInput 
                            class="full-width" 
                            placeholder="Chit Name"
                            jhiNumberOnly 
                            name="chit_name" 
                            id="chit_name" 
                            [(ngModel)]="chitfund.chit_name" 
                            
                            required
                        >
                    </mat-form-field>&nbsp;&nbsp;
                    <mat-form-field>
                        <input 
                            matInput 
                            class="full-width" 
                            placeholder="Chit Holder Name"
                            name="chit_holder_name" 
                            id="chit_holder_name" 
                            [(ngModel)]="chitfund.chit_holder_name" 
                            
                            required
                        >
                    </mat-form-field>
                    <mat-form-field>
                        <input 
                            required 
                            matInput 
                            [matDatepicker]="picker1"
                            name="chit_start_date"
                            placeholder="Start Date"
                            [(ngModel)]="chitfund.chit_start_date" 
                             required>
                        <mat-datepicker-toggle matSuffix [for]="picker1" ></mat-datepicker-toggle>
                        <mat-datepicker #picker1 ></mat-datepicker>
                    </mat-form-field>&nbsp;&nbsp;
                    <mat-form-field>
                        <input 
                            matInput 
                            class="full-width" 
                            required type="number" 
                            jhiNumberOnly Value
                            placeholder="Chit Value" 
                            name="chit_value" 
                            id="chit_value" 
                            [(ngModel)]="chitfund.chit_value"
                            required
                        >
                    </mat-form-field>
                    <mat-form-field>
                        <input 
                            matInput 
                            class="full-width" 
                            required 
                            type="number" 
                            jhiNumberOnly 
                            placeholder="Tenure [Months]" 
                            name="tenure" 
                            id="tenure" 
                            [(ngModel)]="chitfund.tenure"
                            required
                        >
                    </mat-form-field>&nbsp;&nbsp;
                    <mat-form-field>
                        <input 
                            matInput 
                            class="full-width" 
                            required 
                            type="number" 
                            jhiNumberOnly 
                            placeholder="Monthly Payment" 
                            name="m_payment" 
                            id="m_payment" 
                            [(ngModel)]="chitfund.m_payment" 
                            required
                        >
                    </mat-form-field>
                    <mat-form-field>
                        <input 
                            matInput 
                            class="full-width" 
                            required 
                            type="number" 
                            jhiNumberOnly 
                            placeholder="Current Value" 
                            name="current_value" 
                            id="current_value" 
                            [(ngModel)]="chitfund.current_value"
                            required
                        >
                    </mat-form-field>&nbsp;&nbsp;
                    <mat-form-field>
                        <textarea 
                            matInput 
                            rows="3" 
                            cols="50" 
                            placeholder="Comment"
                            name="notes" 
                            id="notes" 
                            [(ngModel)]="chitfund.notes"
                            required
                        >
                        </textarea>
                    </mat-form-field>
                    <div class="modal-footer">
                        <button 
                            type="submit" 
                            mat-button class=" btn btn-outline-primary"  
                            [disabled]="saveForm.form.invalid"
                            (click)="c('Save click')">
                            <span class="fa fa-save"></span>&nbsp;
                            <span>update</span>
                        </button>
                        <button 
                            type="button"  
                            mat-button class=" btn btn-outline-accent"  
                            data-dismiss="modal" 
                            (click)="d('Cross click')">
                            <span class="fa fa-ban"></span>&nbsp;
                            <span>Cancel</span>
                        </button>
                    </div> <!-- footer -->
                </form>
            </div> <!-- body -->
        </ng-template>
    <!-- table -->
    <table class="table-responsive-md table table-hover table-striped  table-sm">
            <thead>
                <tr>
                    <th scope="col">Chit Fund Name</th>
                    <th scope="col">Chit Holder Name</th>
                    <th scope="col">Chit Start date</th>
                    <th scope="col">Chit Value</th>
                    <th scope="col">Tenure (Months)</th>
                    <th scope="col">Current Value</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let chit of chitfundDetails">
                    <td>{{chit.chit_name}}</td>
                    <td>{{chit.chit_holder_name}}</td>
                    <td>{{chit.chit_start_date| date : 'shortDate'}}</td>
                    <td>{{chit.chit_value}}</td>
                    <td>{{chit.tenure}}</td>
                    <td>{{chit.current_value}} </td>
                    <td>
                        <button 
                        class="btn btn-outline-info" 
                        type="button" 
                        (click)="openEditchit(editChitModal,chit.id)">
                        <span> <i class="fa fa-edit" aria-hidden="true"></i></span>
                        </button>             
                    </td>
                    <td>
                        <button 
                            class="btn btn-outline-danger" 
                            type="button"
                            (click)="opendeleteChit(chit.id)"
                            >
                            <span><i class="fa fa-trash" aria-hidden="true"></i></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        
