<!-- life modal -->
<ng-template #lifeModal let-c="close" let-d="dismiss">
  <div class="modal-header">
      <h4 class="modal-title" id="lifeModal">Add Your Life Insurance Details</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
      <form class="example-container" #incomeAdd="ngForm">
           <!-- form start-->
           <div class="row">
                  <div class="col-md-6">
                      <mat-form-field style="width: 100%;">
                          <mat-select placeholder="Policy Type"  [(ngModel)]="life.type" name="type">
                            <mat-option *ngFor="let type of PolicyTypeArray" [value]="type.name">
                              {{type.name}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field> 

                        <mat-form-field style="width: 100%;">
                          <input required matInput placeholder="Policy issuer" name="issuer" [(ngModel)]="life.issuer" >
                        </mat-form-field>

                        <mat-form-field style="width: 100%;" >
                          <input required matInput placeholder="Insured Name" name="ins" [(ngModel)]="life.ins_name" >
                        </mat-form-field>

                        <mat-form-field  style="width: 100%;">
                          <input required matInput placeholder="Proposer name" name="prop" [(ngModel)]="life.proposer_name" >
                        </mat-form-field>

                      <mat-form-field style="width: 100%;">
                          <input required matInput [matDatepicker]="picker3" placeholder="Policy Start Date" 
                          [formControl]="lifeDate">
                          <mat-datepicker-toggle matSuffix [for]="picker3" ></mat-datepicker-toggle>
                          <mat-datepicker #picker3 ></mat-datepicker>
                      </mat-form-field>

                      <mat-form-field class="example-full-width">
                          <input required matInput jhiNumberOnly placeholder="Policy Term(yrs)" name="term" [(ngModel)]="life.policy_term" >
                      </mat-form-field>
                  </div>

                  <!-- right start -->
                  <div class="col-md-6">
                      <mat-form-field  style="width: 100%;">
                          <mat-select placeholder="Premium Mode" name="type2" [(ngModel)]="life.premium_mode">
                            <mat-option *ngFor="let type of PremiumTypeArray" [value]="type.name">
                              {{type.name}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                          <input required matInput placeholder="Policy Name" name="namepolicy" [(ngModel)]="life.policy_name" >
                      </mat-form-field>

                        <mat-form-field class="example-full-width">
                          <input required matInput jhiNumberOnly placeholder="Sum Assured" name="sum" [(ngModel)]="life.sum" >
                      </mat-form-field>

                        <mat-form-field class="example-full-width">
                          <input required matInput jhiNumberOnly placeholder="Premium " name="premium" [(ngModel)]="life.premium" >
                      </mat-form-field>

                        <mat-form-field class="example-full-width">
                          <input required matInput jhiNumberOnly placeholder="Premium Payment Term" name="term23" [(ngModel)]="life.premium_term" >
                      </mat-form-field>

                  </div>  <!-- right end-->
              </div>  <!-- form end -->
      </form>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Save click')" [disabled]="incomeAdd.form.invalid">Add</button>
  </div>
</ng-template>

<div> <!--start of buttons -->
  <div class="float-right">
  <button type="button" class="btn btn-link" data-toggle="modal" (click)="openLife(lifeModal)">
          <span>
              <i class="fa fa-plus" aria-hidden="true"></i>
              <span>Add</span>
          </span>
  </button>
  <button type="button" class="btn btn-link" (click)="onLifeSave()">
          <span>
              <i class="fa fa-save" aria-hidden="true"></i>
              <span>Save</span>
          </span>
  </button>
  <button type="button" class="btn btn-link" (click)="onGetLife()">
          <span>
              <i class="far fa-arrow-alt-circle-down"></i>
              <span>Get</span>
          </span>
  </button>
  </div>
</div>


<!-- life table -->
<div>
      <table class="table table-hover table-sm">
          <thead>
              <tr>
                  <th scope="col">Insured name </th>
                  <th scope="col">Policy Name </th>
                  <th scope="col">Annual Premium </th>
                  <th scope="col">Premium Payment term </th>
                  <th scope="col">Policy Term </th>
                  <th scope="col">Sum Assured </th>
              </tr>
          </thead>
          <tbody>
              <!-- loan_type lender applicant amnt ldate check tenure intrest_type roi rdate -->
              <tr *ngFor="let field of dynamicLifeArray; let i = index">
                  <td> {{ field.iName }}</td>
                  <td> {{ field.pName }} </td>
                  <td> {{ field.premium }} </td>
                  <td> {{ field.term }} </td>
                  <td> {{ field.pterm }} </td>
                  <td> {{ field.sum }} </td>
                  <td><button class="btn btn-sm btn-outline-danger"  type="button" (click)="RemoveLifeInsurance(i)" >
                      <span> <i class="fa fa-trash" aria-hidden="true"></i></span></button>
                  </td>
              </tr>
          </tbody>
      </table>
</div>