<div class="container"><!--start of container div -->
  <div class="navbar navbar-expand-lg navbar-light navb"style="background-color: #e3f2fd;"><!--start of navbar3 div -->
    <h5>Enter Relationship Details<span class="glyphicons glyphicons-remove-circle"></span></h5>
  </div><!--end of navbar3 div -->
  <mat-form-field>
      <mat-select placeholder="Choose Relation" >
        <mat-option  value="Mother">Mother</mat-option>
        <mat-option value="Father">Father</mat-option>
        <mat-option  value="Spouce">Spouce</mat-option>
        <mat-option value="Son">Son</mat-option>
        <mat-option  value="Daughter">Daughter</mat-option>
      </mat-select>
    </mat-form-field><br>
    <div class="row"><!--start of row2-->
      <div class="col-md-4">
        <mat-form-field>
            <input matInput placeholder="First Name"
            type="text" 
            id="familyfirstName"
            class="form-control" 
            [(ngModel)]="familyProfile.familyfirstName"
            name="familyfirstName" 
            #familyfirstName="ngModel"
            minlength="5" 
            maxlength="10" 
            pattern="^[_'.@A-Za-z0-9-]*$"
            required>
          </mat-form-field>
          <div *ngIf=" familyfirstName.touched && !familyfirstName.valid">
              <div *ngIf="familyfirstName.errors.required">
                  firstName is required
              </div>
              <div *ngIf="familyfirstName.errors.minlength">
                  name should be min {{familyfirstName.errors.minlength.requiredLength}} char
              </div>
              <div *ngIf="familyfirstName.errors.pattern"> 
                  pattern not match
              </div>
          </div>
        </div>
        <div class="col-md-4">
            <mat-form-field>
                <input matInput placeholder="Middle Name" type="text" 
                id="familymiddlename" 
                class="form-control" 
                [(ngModel)]="familyProfile.familymiddlename"
                name="familymiddlename" 
                #familymiddlename="ngModel"
                minlength="5" 
                maxlength="10" 
                pattern="^[_'.@A-Za-z0-9-]*$"
                required>
              </mat-form-field>
              <div *ngIf="familymiddlename.touched && !familymiddlename.valid">
                <div *ngIf="familymiddlename.errors.required">
                  Middlename is required
                </div>
                <div *ngIf="familymiddlename.errors.minlength">
                    name should be min {{familymiddlename.errors.minlength.requiredLength}} char
                </div>
                <div *ngIf="familymiddlename.errors.pattern"> 
                    pattern not match
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <mat-form-field>
                <input matInput placeholder="Last Name"  type="text" 
                id="familylastname" 
                class="form-control" 
                [(ngModel)]="familyProfile.familylastname"
                name="familylastname" 
                #familylastname="ngModel"
                minlength="5" 
                maxlength="10"
                pattern="^[_'.@A-Za-z0-9-]*$"
                required>
              </mat-form-field>
              <div *ngIf="familylastname.touched && !familylastname.valid">
                  <div *ngIf="familylastname.errors.required">
                    Lastname is required
                  </div>
                  <div *ngIf="familylastname.errors.minlength">
                      name should be min {{familylastname.errors.minlength.requiredLength}} char
                  </div>
                  <div *ngIf="familylastname.errors.pattern"> 
                      pattern not match
                  </div>
              </div>
        </div>
      </div><!--end of row2-->
      <div class="row">
        <div class="col-md-6">
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Choose a date" name="dateOfBirth" [(ngModel)]="familyProfile.dateOfBirth">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-checkbox>Is Earning?</mat-checkbox>
          </div>
        <div class="col-md-2"></div>
      </div>
      <div class="row">
        <div class="col-md-4">
            <mat-form-field>
                <input matInput placeholder="Email"type="text" 
                id="familyemail" 
                class="form-control" 
                [(ngModel)]="familyProfile.familyemail"
                name="familyemail" 
                #familyemail="ngModel"
                minlength="5" 
                maxlength="10" 
                pattern="^[_'.@A-Za-z0-9-]*$"
                required>
              </mat-form-field>
              <div *ngIf=" familyemail.touched && !familyemail.valid">
                  <div *ngIf="familyemail.errors.required">
                    Email is required
                  </div>
                  <div *ngIf="familyemail.errors.minlength">
                      Email should be min {{familyemail.errors.minlength.requiredLength}} char
                  </div>
                  <div *ngIf="familyemail.errors.pattern"> 
                      pattern not match
                  </div>
              </div>
        </div>
        <div class="col-md-4">
            <mat-form-field>
                <input matInput placeholder="Mobile Number"type="text" 
                id="phonenumber" 
                class="form-control" 
                [(ngModel)]="familyProfile.phonenumber"
                name="phonenumber" 
                #phonenumber="ngModel"
                minlength="5" 
                maxlength="10" 
                pattern="^[_'.@A-Za-z0-9-]*$"
                required>
              </mat-form-field>
              <div *ngIf=" phonenumber.touched && !phonenumber.valid">
                  <div *ngIf="familyemail.errors.required">
                    Email is required
                  </div>
                  <div *ngIf="phonenumber.errors.minlength">
                      Email should be min {{phonenumber.errors.minlength.requiredLength}} char
                  </div>
                  <div *ngIf="phonenumber.errors.pattern"> 
                      pattern not match
                  </div>
              </div>
        </div>
        <div class="col-md-4"></div>
      </div>
      <div class="pull-right"><!--start of btn div-->
        <button mat-raised-button color="primary" (click)="saveFamilyProfile()">Save</button>
        <button mat-raised-button color="accent" (click)="clear()">Cancel</button>
      </div><!--end of btn div-->
    </div><!--end of container div -->
