<br><br>

<div class="container">
    <div class="row">
        <div >
            <div [ngSwitch]="isAuthenticated()">
                <div *ngSwitchCase="true">
                        
                    <div *ngIf="!payment">
                        <div class="row justify-content-md-center">
                            <mat-card class="example-card" >
                                <mat-card-header>
                                    <div mat-card-avatar class="example-header-image"></div>
                                    <mat-card-title>Plan Confirmation</mat-card-title>
                                    <mat-card-subtitle>Check your plan details are correct or not</mat-card-subtitle>
                                </mat-card-header>
                        <br>
                                Thanks for choosing Universal for your next project! Universal is a unique template for building beautiful business website. We have a dedicated support team ready to answer your questions.
                        <br>
                        <br>
                        <br>
                                    <h3 class="row justify-content-md-center">
                                        Your Selected Plan is {{ plan }}
                                    </h3>
                        <br>
                                    <h5 class="row justify-content-md-center">
                                        Amount payable &nbsp;<strong> {{ payable }}</strong>
                                    </h5>
                        <br>             
                                    <div class="row justify-content-md-center">
                                        <mat-card-content >
                                            <div *ngIf="!applied">
                                                    Do you have any PromoCode?
                                                    <button class="btn btn-sm btn-outline-warning" (click)="apply()">
                                                            Click here To Apply
                                                    </button>
                                            </div>
                                            <div *ngIf="applied" class="alert alert-success">
                                                <strong>Promocode applied successfully</strong>
                        <br>
                                                <small>Previous amount {{ oldAmount }}</small>
                        <br>
                                                <small>Your Saving {{ pay }}</small>

                                            </div>
                                            
                                        </mat-card-content>
                                    </div>
                        <br>
                                    <div class="row justify-content-md-center">
                                        <mat-card-actions >
                                            <button mat-button (click)="goToPayment()" class="btn btn-outline-success">Proceed to checkout</button>
                                            <button mat-button class="btn btn-outline-primary" [routerLink]="['/']" routerLinkActive="router-link-active" >Go Back</button>
                                        </mat-card-actions>
                                    </div>
                                </mat-card>                      
                        </div>
                    </div>
    
                            <div *ngIf="payment">
                                <jhi-payment [payable]="payable"></jhi-payment>
                            </div>
                </div>
                <div class="alert alert-warning" *ngSwitchCase="false">
                    <span>Oops you are not Signed In </span>
                    Please <a class="alert-link" (click)="login()">Click here</a><span> to sign-in now.</span>
     <br>
                    <span>You don't have an account yet?</span>
                    <a class="alert-link" (click)="register()">Register a new account</a>
                </div>
            </div>
        </div>
    </div>
</div>
