<br><br>
<p>
  This is Demo
 </p>
 
<div class="container">
  <a class="btn btn-outline-success" routerLink='material' routerLinkActive="active">Material</a> &nbsp;
  <a class="btn btn-outline-warning" routerLink='grid' routerLinkActive="active"> Grid Demo</a> &nbsp;
  <a class="btn btn-outline-danger" routerLink='ngb' routerLinkActive="active"> Ng Bootstrap</a> &nbsp;
  <a class="btn btn-outline-primary" routerLink='otp' routerLinkActive="active"> Mobile Otp</a> &nbsp;
  <a class="btn btn-outline-dark" routerLink='simple' routerLinkActive="active"> Simple</a> &nbsp;
  <a class="btn btn-outline-secondary" (click)="apply()"> Promo Code</a> &nbsp;
  <a class="btn btn-outline-danger" routerLink='promo' routerLinkActive="active"> Promo Code manage</a> &nbsp;
</div>
<br><br>

  <router-outlet></router-outlet>

 
