<div class="container">
    <h3>Tax Details</h3>
     <!-- <mat-expansion-panel> -->
       
     <!-- <mat-expansion-panel-header>
         <mat-panel-title>
         Tax
         </mat-panel-title>
         <mat-panel-description>
             Fill your Tax details
         </mat-panel-description>
     </mat-expansion-panel-header> -->
    <mat-accordion>
                
                <mat-expansion-panel>

                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                    Gross Income
                            </mat-panel-title>
                            <mat-panel-description>
                            Gross Details
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <jhi-gross></jhi-gross>
                        </mat-expansion-panel>
                <mat-expansion-panel>

                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                    EightyC Deduction
                            </mat-panel-title>
                            <mat-panel-description>
                            EightyC Details
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <jhi-eightyc></jhi-eightyc>
                        
                        </mat-expansion-panel>

            


                        <mat-expansion-panel>

                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                        EightyD Deduction
                                </mat-panel-title>
                                <mat-panel-description>
                                EightyD Details
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                <jhi-eightyd></jhi-eightyd>
                            
                            </mat-expansion-panel>

                            <mat-expansion-panel>

                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                            Home Deduction
                                    </mat-panel-title>
                                    <mat-panel-description>
                                    Home Details
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <jhi-home></jhi-home>
                                </mat-expansion-panel>
   

                                <mat-expansion-panel>

                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                                other Deduction
                                        </mat-panel-title>
                                        <mat-panel-description>
                                        Other Details
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <jhi-other></jhi-other>
                                    </mat-expansion-panel>
         </mat-accordion>
         </div>
                      
                     <!-- </mat-accordion>
            </mat-expansion-panel> -->
                