<div [ngSwitch]="isAuthenticated()">
  <div *ngSwitchCase="true">
  <br><br>
    <div *ngIf="!isValid"><!-- start of isvalid div -->
      <div class="row justify-content-md-center colored"><!--start of row1 div-->
        <div class="col-md-2"><!--start of row1.col1 div-->
          <label><h4><b>Select Goal</b></h4></label>
        </div><!--end of row1.col1 div-->
        <div class=""><!--start of row1.col2 div-->
          <div><!--start of select div-->
            <mat-form-field>
              <mat-select placeholder="Choose Goal" name="goaltype" [(ngModel)]="goaltype">
                <mat-option  value="home">Home</mat-option>
                <mat-option value="education">Education</mat-option>
                <mat-option value="vehicle">Vehicle</mat-option>
                <mat-option value="childbirth">Childbirth</mat-option>
                <mat-option value="merrage">Marriage</mat-option>
                <mat-option value="business">Business</mat-option>
                <mat-option value="familysupport">Familysupport</mat-option>
                <mat-option value="vacation">Vacation</mat-option>
                <mat-option value="emergencyfund">Emergencyfund</mat-option>
                <mat-option value="retairementfund">Retairementfund</mat-option>
                <mat-option value="newgoal">Newgoal</mat-option>
              </mat-select>
            </mat-form-field> 
          </div><!--end of select div-->
          <!-- <button mat-raised-button color="primary" (click)="getgoalbyid()">Submit</button> -->
        </div><!--start of row1.col2 div-->
      </div><!--end of row1 div-->
        <div [ngSwitch]="goaltype"><!--start of ngSwitch div-->
          <div *ngSwitchCase="'home'"><!--start of ngSwitchCaseHome div-->
            <mat-card class="container-fluid example-card">
              <mat-card-header>
                <mat-card-title>Enter New Home Goal</mat-card-title>
              </mat-card-header>
              <mat-card-content class="container-fluid">
                <mat-form-field>
                  <input matInput placeholder="Goal Name" type="text" name="goalname" [(ngModel)]="goalselect.goalname" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <mat-form-field>
                  <input matInput jhiNumberOnly placeholder="Priority" type="text"name="priority" [(ngModel)]="goalselect.priority" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <mat-form-field>
                  <input matInput jhiNumberOnly placeholder="Year to Goal" type="text" name="yeartogoal" [(ngModel)]="goalselect.yeartogoal" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <mat-form-field>
                  <input matInput jhiNumberOnly placeholder="Present Cost" type="text" name="presentcost" [(ngModel)]="goalselect.presentcost" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <mat-form-field>
                  <input matInput [matDatepicker]="picker3" placeholder="Creation Date" name="dateofcreation" [(ngModel)]="goalselect.dateofcreation">
                  <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                  <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field>
              </mat-card-content>
              <mat-card-actions class="pull-right">
                  <button mat-raised-button color="primary" (click)="Home()">Submit</button>
                  <button mat-raised-button color="accent" (click)="clear()">Cancel</button>
              </mat-card-actions>
            </mat-card>
          </div><!--end of ngSwitchCaseHome div-->
          <div *ngSwitchCase="'education'"><!--start of ngSwitchCaseEducation div-->
            <mat-card class="container-fluid example-card">
              <mat-card-header>
                <mat-card-title>Enter New Education Goal</mat-card-title>
              </mat-card-header>
              <mat-card-content class="container-fluid">
                <mat-form-field>
                  <input matInput placeholder="Goal Name" type="text" name="goalname" [(ngModel)]="Educationselect.goalname" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <mat-form-field>
                  <input matInput jhiNumberOnly placeholder="Priority" type="text"name="priority" [(ngModel)]="Educationselect.priority" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <mat-form-field>
                  <input matInput jhiNumberOnly placeholder="Year to Goal" type="text" name="yeartogoal" [(ngModel)]="Educationselect.yeartogoal" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <mat-form-field>
                  <input matInput jhiNumberOnly placeholder="Present Cost" type="text" name="presentcost" [(ngModel)]="Educationselect.presentcost" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <mat-form-field>
                  <input matInput [matDatepicker]="picker3" placeholder="Creation Date" name="dateofcreation" [(ngModel)]="Educationselect.dateofcreation">
                  <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                  <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field>
              </mat-card-content>
              <mat-card-actions class="pull-right"> 
                <button mat-raised-button color="primary" (click)="Education()">Submit</button>
                <button mat-raised-button color="accent" (click)="clear()">Cancel</button>
              </mat-card-actions>
            </mat-card>
           <!--end of edu-container div-->
          </div><!--end of ngSwitchCaseEducation div-->
          <div *ngSwitchCase="'vehicle'">
            <mat-card class="container-fluid example-card">
              <mat-card-header>
                <mat-card-title>Enter New Vehicle Goal</mat-card-title>
              </mat-card-header>
              <mat-card-content class="container-fluid">
                <mat-form-field>
                  <input matInput placeholder="Goal Name" type="text" name="goalname" [(ngModel)]="Vehicleselect.goalname" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <mat-form-field>
                  <input matInput jhiNumberOnly placeholder="Priority" type="text"name="priority" [(ngModel)]="Vehicleselect.priority" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <mat-form-field>
                  <input matInput jhiNumberOnly placeholder="Year to Goal" type="text" name="yeartogoal" [(ngModel)]="Vehicleselect.yeartogoal" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <mat-form-field>
                  <input matInput jhiNumberOnly placeholder="Present Cost" type="text" name="presentcost" [(ngModel)]="Vehicleselect.presentcost" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <mat-form-field>
                  <input matInput [matDatepicker]="picker3" placeholder="Creation Date" name="dateofcreation" [(ngModel)]="Vehicleselect.dateofcreation">
                  <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                  <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field>
              </mat-card-content>
              <mat-card-actions class="pull-right">
                <button mat-raised-button color="primary" (click)="Vehicle()">Submit</button>
                <button mat-raised-button color="accent" (click)="clear()">Cancel</button>
              </mat-card-actions>
            </mat-card>
            <!--end of home-tabpane div-->
          </div><!--end of ngSwitchCaseVehicle div-->
          <div *ngSwitchCase="'childbirth'">
            <mat-card class="container-fluid example-card">
              <mat-card-header>
                <mat-card-title>Enter New Child Goal</mat-card-title>
              </mat-card-header>
              <mat-card-content class="container-fluid">
                <mat-form-field>
                    <input matInput  placeholder="Goal Name" type="text" name="goalname" [(ngModel)]="Childbirthselect.goalname" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <mat-form-field>
                  <input matInput jhiNumberOnly placeholder="Priority" type="text"name="priority" [(ngModel)]="Childbirthselect.priority" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <mat-form-field>
                  <input matInput jhiNumberOnly placeholder="Year to Goal" type="text" name="yeartogoal" [(ngModel)]="Childbirthselect.yeartogoal" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <mat-form-field>
                  <input matInput jhiNumberOnly placeholder="Present Cost" type="text" name="presentcost" [(ngModel)]="Childbirthselect.presentcost" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <mat-form-field>
                  <input matInput [matDatepicker]="picker3" placeholder="Creation Date" name="dateofcreation" [(ngModel)]="Childbirthselect.dateofcreation">
                  <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                  <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field>
              </mat-card-content>
              <mat-card-actions class="pull-right">
                <button mat-raised-button color="primary" (click)="Childbirth()">Submit</button>
                <button mat-raised-button color="accent" (click)="clear()">Cancel</button>
              </mat-card-actions>
            </mat-card>
          </div><!--end of ngSwitchCasechildbirth div-->
          <div *ngSwitchCase="'merrage'">
            <mat-card class="container-fluid example-card">
              <mat-card-header>
                <mat-card-title>Enter New Marriage Goal</mat-card-title>
              </mat-card-header>
              <mat-card-content class="container-fluid">
                <mat-form-field>
                  <input matInput placeholder="Goal Name" type="text" name="goalname" [(ngModel)]="Merrageselect.goalname" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <mat-form-field>
                  <input matInput jhiNumberOnly placeholder="Priority" type="text"name="priority" [(ngModel)]="Merrageselect.priority" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <mat-form-field>
                  <input matInput jhiNumberOnly placeholder="Year to Goal" type="text" name="yeartogoal" [(ngModel)]="Merrageselect.yeartogoal" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <mat-form-field>
                  <input matInput jhiNumberOnly placeholder="Present Cost" type="text" name="presentcost" [(ngModel)]="Merrageselect.presentcost" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <mat-form-field>
                  <input matInput [matDatepicker]="picker3" placeholder="Creation Date" name="dateofcreation" [(ngModel)]="Merrageselect.dateofcreation">
                  <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                  <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field>
              </mat-card-content>
              <mat-card-actions class="pull-right">  
                <button mat-raised-button color="primary" (click)="Merrage()">Submit</button>
                <button mat-raised-button color="accent" (click)="clear()">Cancel</button>
              </mat-card-actions>
            </mat-card>
            <!--end of home-tabpane div -->
          </div><!--end of ngSwitchCaseMerrage div-->
          <div *ngSwitchCase="'business'">
            <mat-card class="container-fluid example-card">
              <mat-card-header>
                <mat-card-title>Enter New Buiseness Goal</mat-card-title>
              </mat-card-header>
              <mat-card-content class="container-fluid">
                <mat-form-field>
                    <input matInput placeholder="Goal Name" type="text" name="goalname" [(ngModel)]="Businessselect.goalname" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <mat-form-field>
                  <input matInput jhiNumberOnly placeholder="Priority" type="text"name="priority" [(ngModel)]="Businessselect.priority" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <mat-form-field>
                  <input matInput jhiNumberOnly placeholder="Year to Goal" type="text" name="yeartogoal" [(ngModel)]="Businessselect.yeartogoal" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <mat-form-field>
                  <input matInput jhiNumberOnly placeholder="Present Cost" type="text" name="presentcost" [(ngModel)]="Businessselect.presentcost" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <mat-form-field>
                  <input matInput [matDatepicker]="picker3" placeholder="Creation Date" name="dateofcreation" [(ngModel)]="Businessselect.dateofcreation">
                  <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                  <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field>
              </mat-card-content>
              <mat-card-actions class="pull-right">
                <button mat-raised-button color="primary" (click)="Business()">Submit</button>
                <button mat-raised-button color="accent" (click)="clear()">Cancel</button>
              </mat-card-actions>
            </mat-card>
          </div><!--end of ngSwitchCaseBusiness div-->
          <div *ngSwitchCase="'familysupport'">
            <mat-card class="container-fluid example-card">
              <mat-card-header>
                <mat-card-title>Enter New  Goal</mat-card-title>
              </mat-card-header>
              <mat-card-content class="container-fluid">
                <mat-form-field>
                  <input matInput placeholder="Goal Name" type="text" name="goalname" [(ngModel)]="FamilySupportselect.goalname" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <mat-form-field>
                  <input matInput jhiNumberOnly placeholder="Priority" type="text"name="priority" [(ngModel)]="FamilySupportselect.priority" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <mat-form-field>
                  <input matInput jhiNumberOnly placeholder="Year to Goal" type="text" name="yeartogoal" [(ngModel)]="FamilySupportselect.yeartogoal" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <mat-form-field>
                  <input matInput jhiNumberOnly placeholder="Present Cost" type="text" name="presentcost" [(ngModel)]="FamilySupportselect.presentcost" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <mat-form-field>
                  <input matInput [matDatepicker]="picker3" placeholder="Creation Date" name="dateofcreation" [(ngModel)]="FamilySupportselect.dateofcreation">
                  <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                  <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field>
              </mat-card-content>
              <mat-card-actions class="pull-right">
                <button mat-raised-button color="primary" (click)="Familysupport()">Submit</button>
                <button mat-raised-button color="accent" (click)="clear()">Cancel</button>
              </mat-card-actions>
            </mat-card>
          </div><!--end of ngSwitchCaseFamilySup div-->
          <div *ngSwitchCase="'vacation'">
            <mat-card class="container-fluid example-card">
              <mat-card-header>
                <mat-card-title>Enter New  Goal</mat-card-title>
              </mat-card-header>
              <mat-card-content class="container-fluid">
                <mat-form-field>
                  <input matInput placeholder="Goal Name" type="text" name="goalname" [(ngModel)]="Vacationselect.goalname" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <mat-form-field>
                  <input matInput jhiNumberOnly placeholder="Priority" type="text"name="priority" [(ngModel)]="Vacationselect.priority" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <mat-form-field>
                  <input matInput jhiNumberOnly placeholder="Year to Goal" type="text" name="yeartogoal" [(ngModel)]="Vacationselect.yeartogoal" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <mat-form-field>
                  <input matInput jhiNumberOnly placeholder="Present Cost" type="text" name="presentcost" [(ngModel)]="Vacationselect.presentcost" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <mat-form-field>
                  <input matInput [matDatepicker]="picker3" placeholder="Creation Date" name="dateofcreation" [(ngModel)]="Vacationselect.dateofcreation">
                  <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                  <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field>
              </mat-card-content>
              <mat-card-actions class="pull-right">
                <button mat-raised-button color="primary" (click)="Vacation()">Submit</button>
                <button mat-raised-button color="accent" (click)="clear()">Cancel</button>
              </mat-card-actions>
            </mat-card>
          </div><!--end of ngSwitchCaseVacation div-->
          <div *ngSwitchCase="'emergencyfund'">
            <mat-card class="container-fluid example-card">
              <mat-card-header>
                <mat-card-title>Enter New  Goal</mat-card-title>
              </mat-card-header>
              <mat-card-content class="container-fluid">
                <mat-form-field>
                  <input matInput placeholder="Goal Name" type="text" name="goalname" [(ngModel)]="EmergencyFundselect.goalname" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <mat-form-field>
                  <input matInput jhiNumberOnly placeholder="Priority" type="text"name="priority" [(ngModel)]="EmergencyFundselect.priority" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <mat-form-field>
                  <input matInput jhiNumberOnly placeholder="Year to Goal" type="text" name="yeartogoal" [(ngModel)]="EmergencyFundselect.yeartogoal" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <mat-form-field>
                  <input matInput jhiNumberOnly placeholder="Present Cost" type="text" name="presentcost" [(ngModel)]="EmergencyFundselect.presentcost" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <mat-form-field>
                  <input matInput [matDatepicker]="picker3" placeholder="Creation Date" name="dateofcreation" [(ngModel)]="EmergencyFundselect.dateofcreation">
                  <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                  <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field>
              </mat-card-content>
              <mat-card-actions class="pull-right">
                <button mat-raised-button color="primary" (click)="EmergencyFund()">Submit</button>
                <button mat-raised-button color="accent" (click)="clear()">Cancel</button>
              </mat-card-actions>
            </mat-card>
          </div><!--end of ngSwitchCaseEmergency div-->
          <div *ngSwitchCase="'retairementfund'">
            <mat-card class="container-fluid example-card">
              <mat-card-header>
                <mat-card-title>Enter New  Goal</mat-card-title>
              </mat-card-header>
              <mat-card-content class="container-fluid">
                <mat-form-field>
                  <input matInput placeholder="Goal Name" type="text" name="goalname" [(ngModel)]="RetirementFundselect.goalname" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <mat-form-field>
                  <input matInput jhiNumberOnly placeholder="Priority" type="text"name="priority" [(ngModel)]="RetirementFundselect.priority" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <mat-form-field>
                  <input matInput jhiNumberOnly placeholder="Year to Goal" type="text" name="yeartogoal" [(ngModel)]="RetirementFundselect.yeartogoal" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <mat-form-field>
                  <input matInput jhiNumberOnly placeholder="Present Cost" type="text" name="presentcost" [(ngModel)]="RetirementFundselect.presentcost" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <mat-form-field>
                  <input matInput [matDatepicker]="picker3" placeholder="Creation Date" name="dateofcreation" [(ngModel)]="RetirementFundselect.dateofcreation">
                  <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                  <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field>
              </mat-card-content>
              <mat-card-actions class="pull-right">
                <button mat-raised-button color="primary" (click)="RetairementFund()">Submit</button>
                <button mat-raised-button color="accent" (click)="clear()">Cancel</button>
              </mat-card-actions>
            </mat-card>
          </div><!--end of ngSwitchCaseRetaire div-->
          <div *ngSwitchCase="'newgoal'">
            <mat-card class="container-fluid example-card">
              <mat-card-header>
                <mat-card-title>Enter New  Goal</mat-card-title>
              </mat-card-header>
              <mat-card-content class="container-fluid">
              <mat-form-field>
                <input matInput placeholder="Goal Name" type="text" name="goalname" [(ngModel)]="NewGoalselect.goalname" [ngModelOptions]="{standalone: true}">
              </mat-form-field>
              <mat-form-field>
                <input matInput jhiNumberOnly placeholder="Priority" type="text"name="priority" [(ngModel)]="NewGoalselect.priority" [ngModelOptions]="{standalone: true}">
              </mat-form-field>
              <mat-form-field>
                <input matInput jhiNumberOnly placeholder="Year to Goal" type="text" name="yeartogoal" [(ngModel)]="NewGoalselect.yeartogoal" [ngModelOptions]="{standalone: true}">
              </mat-form-field>
              <mat-form-field>
                <input matInput jhiNumberOnly placeholder="Present Cost" type="text" name="presentcost" [(ngModel)]="NewGoalselect.presentcost" [ngModelOptions]="{standalone: true}">
              </mat-form-field>
              <mat-form-field>
                <input matInput [matDatepicker]="picker3" placeholder="Creation Date" name="dateofcreation" [(ngModel)]="NewGoalselect.dateofcreation">
                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker #picker3></mat-datepicker>
              </mat-form-field>
            </mat-card-content>
            <mat-card-actions class="pull-right">
              <button mat-raised-button color="primary" (click)="NewGoal()">Submit</button>
              <button mat-raised-button color="accent" (click)="clear()">Cancel</button>
            </mat-card-actions>
          </mat-card>
          </div><!--end of ngSwitchCaseNewGoal div-->
        </div><!-- end of ngSwitch div -->
      </div><!-- end of isvalid div -->
    <div *ngIf="isValid">
      <div class="form-group row justify-content-center"><label><h5>Goal Details</h5></label>
      </div>
      <button 
        mat-button 
        color="primary" 
        class="btn btn-link" 
        (click)="AddGoal()">
        <span><i class="fa fa-plus" aria-hidden="true"></i>
        </span>AddGoal
      </button>
  <!-- view page -->
      <table 
        class= "table-responsive 
                table-bordered 
                table-hover
                table-sm 
                table-striped"><!-- table start here -->
        <thead>
          <tr>
              <th>SrNo</th>
              <th>GoalType</th>
              <th>GoalName</th>
              <th>Priority</th>
              <th>Year To Goal</th>
              <th>Present Cost</th>
              <th>Future Cost</th>
              <th>Req.Monthly Investment</th>
              <th>Fund Shortage</th>
              <th>Date Of Creation</th>
              <th>Linked Asset Value</th>
              <th>Link Assets</th>
              <th>View</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let out of output let i = index">
            <td>{{out.id}}</td>
            <td>{{out.goaltype}}</td>
            <td>{{out.goalname}}</td>
            <td>{{out.goalpriority}}</td>
            <td>{{out.yeartogoal}}</td>
            <td>{{out.presentcost}}</td>
            <td>{{out.futurecost}}</td>
            <td>{{out.requiremonthinvest}}</td>
            <td>{{out.fundshortage}}</td>
            <td>{{out.crationdate}}</td>
            <td>{{out.goalNotes}}</td>
            <td>
              <button 
                class="btn btn-sm btn-outline-info" 
                type="button" 
                (click)="openLinkAsset(editLinkModal,out.id)">
                <span class="fa fa-link"></span>
              </button>
            </td>
            <td>
              <button 
                class="btn btn-sm btn-outline-warning" 
                (click)="viewByGoalId(out.id, viewLinkedAssetModal)">
                  <span class="fa fa-eye"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table><!-- table end here -->
      <!-- asset link modal-->
      <ng-template #editLinkModal let-c="close" let-d="dismiss"><!-- editStocksModal ng-template start -->
        <div class="modal-header"><!-- modal header start -->
          <h4 
              class="modal-title" 
              id="editLinkModal">Assets Linking</h4>
          <button 
              type="button"
              class="close" 
              aria-label="Close" 
              (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
          </button>
        </div><!-- modal header end -->
        <div class="modal-body"><!-- modal body start -->
          <form name="editForm" role="form" novalidate #editForm="ngForm">
            <div class="row"><!--start of row1 div-->
              <div class="col-md-6"><!--start of row1.col1 div-->
                <label><h6><b>Select Asset Type</b></h6></label>
              </div><!--end of row1.col1 div-->
              <div class="setmar col-md-6"><!--start of row1.col2 div-->
                <div><!--start of select div-->
                  <mat-form-field>
                    <mat-select placeholder="Choose Assets" name="assettype" [(ngModel)]="assettype">
                      <mat-option value="stocks" (click)="getAsset()">Stock</mat-option>
                      <mat-option value="mutual" (click)="getAsset()">Mutual Fund</mat-option>
                      <mat-option value="ChitFund" (click)="getAsset()">Chit Fund</mat-option>
                      <mat-option value="FutureandOption"  (click)="getAsset()">Future and Option</mat-option>
                      <mat-option value="SavingScheme" (click)="getAsset()">Saving Scheme</mat-option>
                      <mat-option value="AlternativeInvestment" (click)="getAsset()">Alternative Investment</mat-option>
                      <mat-option value="cash" (click)="getAsset()">Cash</mat-option>
                      <mat-option value="Propertyandhousehold"  (click)="getAsset()">Property and Household</mat-option>
                    </mat-select>
                  </mat-form-field> 
                </div><!--end of select div-->
              </div><!--start of row1.col2 div-->
            </div><!--end of row1 div-->
            <div class="row justify-content-md-center">
              <h4>Present Value : {{PresentCost}}</h4> <br>
              <h4>Available Asset to map : {{AvailableCost}}</h4>
            </div>
            <div>
              <table class="table table-responsive table-sm table-striped table-hover table-bordered" >
                <thead>
                  <th>Select</th>
                  <th>Asset Name</th>
                  <th>Asset Value</th>
                  <th>Mapped Value</th>
                </thead>
                  <tr *ngFor="let output of HTMLArray" >
                      <td> <mat-checkbox  #cb [ngModel]="get(output.id)" (ngModelChange)="selectedRecord(cb.checked, output.id)" name="rada">
                            </mat-checkbox>
                      </td>
                      <td>{{output.assetname}}</td>
                      <td>{{output.assetvalue}}</td>
                      <td>{{output.mappedvalue}}</td>
                      <td>
                        <button class="btn btn-sm btn-outline-success" [disabled]="output.disable" (click)="getMapValue(output.id)">{{output.valid}} map</button>
                      </td>

                  </tr>
                            <tfoot>
                              <td colspan="3">Total</td>
                              <td colspan="2"> {{ singleAssetTotal }}</td>
                            </tfoot>
                          </table>
                        </div>
      
                    </mat-form-field>
                    <div class="modal-footer">
                        <button 
                            type="submit"
                            class="btn btn-primary"
                            [disabled]="editForm.form.invalid || isSaving"
                            class="btn btn-primary"
                            (click)="c('Save click')">
                            <span class="fa fa-save"></span>&nbsp;
                            <span>Save</span>
                        </button>
                        <button 
                            type="button" 
                            class="btn btn-secondary" 
                            data-dismiss="modal" 
                            (click)="d('Cross click')">
                            <span class="fa fa-ban"></span>&nbsp;
                            <span>Cancel</span>
                        </button>
                    </div>
                </form>
            </div>    
        </ng-template>
      </div>
      
      <!-- maaped asset view -->
      
      <ng-template #viewLinkedAssetModal let-c="close" let-d="dismiss"><!-- editStocksModal ng-template start -->
        <div class="modal-header">
            <h4 class="modal-title" id="viewLinkedAssetModal">Linked Assets</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <table class="table table-responsive table-hover table-striped">
              <thead>
                <th>Sl#</th>
                <th>Asset Name</th>
                <th>Asset Value</th>
                <th>Mapped Value</th>
              </thead>
              <tbody>
                <tr *ngFor="let item of MappedArray">
                  <td> {{ item.element.id }} </td>
                  <td> {{ item.element.assetname }} </td>
                  <td> {{ item.element.assetValue }} </td>
                  <td> {{ item.element.valuetomap }} </td>
                </tr>
              </tbody>
            </table>
        </div>    
      </ng-template>
  </div>

  <div *ngSwitchCase="false" class="form-group row justify-content-center">

      <mat-card class="example-card">
              
              <mat-card-content class="example-card" class="shadow">
                      <img src="../../Assests/oops.jpg" style="height:300px;width:700px"><br>
                      <span>Oops you are not Signed In </span>
                      Please <a class="alert-link" (click)="login()">Click here</a><span> to sign-in now.</span>
              </mat-card-content>
      </mat-card>
  </div>
  <br>
</div>