.setmar {
  margin-top: 300px;
}
::ng-deep .cdk-overlay-container {
  z-index: 1200 !important;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-full-width {
  width: 100%;
}

.example-container > * {
  width: 100%;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

::ng-deep .cdk-overlay-container {
  z-index: 1200 !important;
}

table {
  width: 100%;
}
.size {
  height: 500px;
  width: 500px;
}
