
<span [ngSwitch]="isAuthenticated()">
    <!-- without log in -->
    <p *ngSwitchCase="false">

        <router-outlet name="navbar"></router-outlet>

        <div  *ngSwitchCase="false" style=" margin-left: 0px; margin-top: 58px; margin-right: 0px;">
            <router-outlet></router-outlet>
        </div>     

    </p>

    <!-- after log in -->
    <p *ngSwitchCase="true">
       
        <router-outlet name="navbar"></router-outlet>

        <jhi-sidebar ></jhi-sidebar>

        <br><br>

        <div *ngSwitchCase="true" style=" margin-left: 60px; margin-top: -43px; margin-right: 0px;">
            <router-outlet></router-outlet>
        </div>

    </p>
    <jhi-footer></jhi-footer>
    
</span>



