
<span [ngSwitch]="isAuthenticated()">
    <p *ngSwitchCase="false">
        <router-outlet name="navbar"></router-outlet>
        <br> 
        <div style=" margin-left: -60px; margin-top: 62px; margin-right: 0px;">
            <router-outlet></router-outlet>
            <!-- <router-outlet name="popup"></router-outlet> -->
        </div>     

    </p>
    <p *ngSwitchCase="true">
       
        <router-outlet name="navbar" ></router-outlet>
        <jhi-sidebar class="myclass"></jhi-sidebar>
        
        <div style=" margin-left: 60px; margin-top: -40px; margin-right: 0px;">
            <router-outlet></router-outlet>
        </div>

    </p>
    <jhi-footer></jhi-footer>
    
</span>



