<div id="detect"></div>
<span [ngSwitch]="isAuthenticated()">
   
    <div *ngSwitchCase="false">

        <div style="margin-bottom: 14px">
            <router-outlet name="navbar"></router-outlet>
        </div>

        <div *ngIf="isSafari">
            
        </div>

        <router-outlet ></router-outlet>
        <jhi-footer></jhi-footer>

    </div>

  
    <div *ngSwitchCase="true">
       
        <jhi-sidenav></jhi-sidenav>

    </div>
    
</span>

        <!-- <jhi-sidenav></jhi-sidenav> -->





