                <!--start of buttons -->
                <div>
                    <div class="float-right">
                    <button type="button" class="btn btn-link" data-toggle="modal" (click)="openUtility(content)">
                            <span>
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                <span>Add</span>
                            </span>
                    </button>
                    <button type="button" class="btn btn-link" (click)="SaveUtility()">
                            <span>
                                <i class="fa fa-save" aria-hidden="true"></i>
                                <span>Save</span>
                            </span>
                    </button>
                    <button type="button" class="btn btn-link" (click)="GetUtility()">
                            <span>
                                <i class="far fa-arrow-alt-circle-down"></i>
                                <span>Get</span>
                            </span>
                    </button>
                    </div>
            </div>

            <!-- table -->
            <table class="table table-hover table-sm">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Monthly Amount</th>
                        <th scope="col">Yearly Amount</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td> Electricity </td>
                        <td> <input required jhiNumberOnly type="number" id="11" [(ngModel)]="utility.electricity"  [ngModelOptions]="{standalone: true}"   > </td>
                        <td> {{utility.electricity * 12}} </td>
                    </tr>
                    <tr>
                        <td> Gas </td>
                        <td> <input required jhiNumberOnly type="number" id="21" [(ngModel)]="utility.gas"  [ngModelOptions]="{standalone: true}"  > </td>
                        <td> {{utility.gas * 12}} </td>
                    </tr>
                    <tr>
                        <td> Water </td>
                        <td> <input required jhiNumberOnly type="number" id="31" [(ngModel)]="utility.water"  [ngModelOptions]="{standalone: true}"   > </td>
                        <td>{{utility.water * 12}} </td>
                    </tr>
                    <tr>
                        <td> Telephone </td>
                        <td> <input required jhiNumberOnly type="number" id="41" [(ngModel)]="utility.telephone" [ngModelOptions]="{standalone: true}"    > </td>
                        <td> {{utility.telephone * 12}} </td>
                    </tr>
                    <tr>
                        <td> Mobile </td>
                        <td> <input required jhiNumberOnly type="number" id="51" [(ngModel)]="utility.mobile"  [ngModelOptions]="{standalone: true}"   > </td>
                        <td> {{utility.mobile * 12}} </td>
                    </tr>
                    <tr>
                        <td> Internet </td>
                        <td> <input required jhiNumberOnly type="number" id="61" [(ngModel)]="utility.internet"  [ngModelOptions]="{standalone: true}"   > </td>
                        <td> {{utility.internet * 12}} </td>
                    </tr>
                    <tr>
                        <td> Satellite TV </td>
                        <td> <input required jhiNumberOnly type="number" id="71" [(ngModel)]="utility.tv"  [ngModelOptions]="{standalone: true}"   > </td>
                        <td> {{utility.tv * 12}} </td>
                    </tr>
                    <tr>
                        <td> Video / CD Rentals </td>
                        <td> <input required jhiNumberOnly type="number" id="81" [(ngModel)]="utility.vcd"  [ngModelOptions]="{standalone: true}"   > </td>
                        <td> {{utility.vcd * 12}} </td>
                    </tr>
                    <tr>
                        <td> News Paper </td>
                        <td> <input required jhiNumberOnly type="number" id="91" [(ngModel)]="utility.news" [ngModelOptions]="{standalone: true}"    > </td>
                        <td> {{utility.news * 12}} </td>
                    </tr>
                    <tr *ngFor="let field of dynamicUtilityArray; let i = index">
                        <td> {{field.name}} </td>
                        <td> <input required  type="number" value="{{field.value}}" disabled> </td>
                        <td> {{field.value * 12}} </td>
                        <td> <button class="btn btn-outline-info"  type="button" (click)="RemoveUtility(i)" >
                        <span> <i class="fa fa-trash" aria-hidden="true"></i></span></button>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th scope="col">Total</th>
                            <th> {{utility.electricity + utility.gas + utility.water + utility.telephone + utility.mobile + utility.internet + utility.tv + utility.vcd + utility.news + totalUtility}} </th>
                            <th> {{(utility.electricity + utility.gas + utility.water + utility.telephone + utility.mobile + utility.internet + utility.tv + utility.vcd + utility.news + totalUtility) * 12 }} </th>

                        </tr>
                    </tfoot>
            </table>