<!-- <div>
  <div  style=" opacity: 10;
  transition: all 700ms ease;
  right: 0;
  left: 0;
  background: #fff;
  -webkit-box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
  z-index: 5;
  line-height: 20px;
  font-size: 0.75em;
  font-weight: 500;
  vertical-align: middle;
  border-radius: 10px;">
  <div style="border-radius: 10px;">
    <nav  class="navbar navbar-expand-md navbar-dark bg-dark "  
      style=" margin-top:0px; border-radius: 10px;">
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item " style="margin-left:10px">
              <a class="nav-link" >FIN HEALTH SCORE 200/1000 </a>
            </li>
            <li class="nav-item"  style="margin-left:250px">
              <a class="nav-link">SURPLUS  0</a>
            </li>
            <li class="nav-item"  style="margin-left:200px">
              <a class="nav-link ">NETWORTH  0</a>
            </li>
            <li class="nav-item"  style="margin-left:250px">
                <a class="nav-link ">GOALS ACHIEVABLE 1 /1</a>
            </li>
            </ul>
        </div>
      </nav>
    </div> -->
  <!-- </div>  end of navbar2 -->
<!-- <div>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" [routerLink]="['familyroute/myprofile']">MyProfile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['familyroute/familyprofile']">FamilyProfile</a>
  </li> -->
  <!-- <li class="nav-item">
    <a class="nav-link" [routerLink]="['familyroute/assumption']">Assumption</a>
  </li> -->
<!-- </ul>
<router-outlet></router-outlet>
</div>
</div> -->
<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
            <h5>MyProfile Profile</h5>
        </mat-panel-title>
        <mat-panel-description>
          Fill your Profile here
        </mat-panel-description>
      </mat-expansion-panel-header>
  
     <jhi-myprofile></jhi-myprofile>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h5>Family Profile</h5>
          </mat-panel-title>
          <mat-panel-description>
              Fill your  Family Profile here
          </mat-panel-description>
        </mat-expansion-panel-header>
    
       <jhi-familyprofile></jhi-familyprofile>
      </mat-expansion-panel>
    </mat-accordion>
  
