
<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
            <h5>MyProfile Profile</h5>
        </mat-panel-title>
        <mat-panel-description>
          Fill your Profile here
        </mat-panel-description>
      </mat-expansion-panel-header>
  
     <jhi-myprofile></jhi-myprofile>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h5>Family Profile</h5>
          </mat-panel-title>
          <mat-panel-description>
              Fill your  Family Profile here
          </mat-panel-description>
        </mat-expansion-panel-header>
    
       <jhi-familyprofile></jhi-familyprofile>
      </mat-expansion-panel>
    </mat-accordion>
  
