
<div class="container">
    <mat-accordion>

        <mat-expansion-panel class="accordion" [expanded]="steps === 0">
    
            <mat-expansion-panel-header>
                <mat-panel-title>Liabilities</mat-panel-title>
                <mat-panel-description> Liabilities Details </mat-panel-description>
            </mat-expansion-panel-header>
    
            <div>
        
                <mat-accordion>
    
                    <mat-expansion-panel class="accordion" [expanded]="steps === 0">
                        <mat-expansion-panel-header>
                            <mat-panel-title> Short Term Liabilities </mat-panel-title>
                            <mat-panel-description>  </mat-panel-description>
                        </mat-expansion-panel-header>
    
                        <div>
    
                        </div>
    
                    </mat-expansion-panel>
    
                    <mat-expansion-panel >
                        <mat-expansion-panel-header>
                            <mat-panel-title> Long Term Liabilities </mat-panel-title>
                            <mat-panel-description> 00 </mat-panel-description>
                        </mat-expansion-panel-header>
                        <table class="table table-hover table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">OrganisationName</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Tenure</th>
                                    <th scope="col">ROI</th>
                                    <th scope="col">OutstandingAmount</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let l of loan">
                                    <td>{{l.lenderName}}</td>
                                    <td>{{l.ltype}}</td>
                                    <td>{{l.tenure}}</td>
                                    <td>{{l.roi}}</td>
                                    <td></td>
                                    <td>
                                        <button class="btn btn-outline-info" type="button">
                                            <span> <i class="fa fa-edit" aria-hidden="true"></i></span>
                                        </button>
                                    </td>    
                                </tr>    
                            </tbody>    
                        </table>    
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>