<br><br>
<div class="container">
    <mat-accordion>

        <mat-expansion-panel class="accordion" [expanded]="steps === 0">
    
            <mat-expansion-panel-header>
                <mat-panel-title>Liabilities</mat-panel-title>
                <mat-panel-description> Liabilities Details </mat-panel-description>
            </mat-expansion-panel-header>
    
            <div>
        
                <mat-accordion>
    
                    <mat-expansion-panel class="accordion" [expanded]="steps === 0">
                        <mat-expansion-panel-header>
                            <mat-panel-title> Short Term Liabilities </mat-panel-title>
                            <mat-panel-description> 00 </mat-panel-description>
                        </mat-expansion-panel-header>
    
                        <div>
    
                        </div>
    
                    </mat-expansion-panel>
    
                    <mat-expansion-panel >
                        <mat-expansion-panel-header>
                            <mat-panel-title> Long Term Liabilities </mat-panel-title>
                            <mat-panel-description> 00 </mat-panel-description>
                        </mat-expansion-panel-header>
    
                        <div>
                            
                        </div>
    
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>