<div class="pull-right">
    <button type="button" class="btn btn-link" (click)="openAlt(altModal)" >
        <span>
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span>Add</span>
        </span>
    </button>
    <button type="button" class="btn btn-link">
        <span>
            <i class="fa fa-info" aria-hidden="true"></i>
            <span>Help</span>
        </span>
    </button>
</div>
<!-- modal start -->
<ng-template #altModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="altModal">Alternative Investment</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form name="editForm" role="form" novalidate  #editForm="ngForm">    
            <div class="form-group">
                <label for="id">ID</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="field_id" 
                    name="id" 
                    [(ngModel)]="altInvest.num" 
                    [ngModelOptions]="{standalone: true}"
                />
            </div>
            <div class="form-group">
                <label 
                    class="form-control-label" 
                    for="field_fund_name">Fund Name
                </label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="fund_name" 
                    id="field_fund_name" 
                    [(ngModel)]="altInvest.fund_name" 
                    [ngModelOptions]="{standalone: true}"
                    required
                >
            </div>
            <div class="form-group">
                <label 
                    class="form-control-label" 
                    for="field_investor_name">Investor Name
                </label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="investor_name" 
                    id="field_investor_name" 
                    [(ngModel)]="altInvest.investor_name"
                    [ngModelOptions]="{standalone: true}" 
                    required
                />
            </div>
            <div class="form-group">
                <label 
                    class="form-control-label" 
                    for="field_p_date">Purchase Date
                </label>
                <input 
                    type="text" 
                    placeholder="" 
                    class="form-control" 
                    [(ngModel)]="altInvest.p_date" 
                    [ngModelOptions]="{standalone: true}"
                    bsDatepicker>
            </div>
            <div class="form-group">
                <label 
                    class="form-control-label" 
                    for="field_amount_invested">Amount Invested
                </label>
                <input 
                    type="number" 
                    class="form-control" 
                    name="amount_invested" 
                    id="field_amount_invested" 
                    [(ngModel)]="altInvest.amount_invested" 
                    [ngModelOptions]="{standalone: true}"
                    required/>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="form-control-label" for="field_market_value">Market Value</label>
                            <input type="number" class="form-control" name="market_value" id="field_market_value" [(ngModel)]="altInvest.market_value"
                                [ngModelOptions]="{standalone: true}" required />
                        </div>
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="form-control-label" f7or="field_as_of_date">As of Date</label>
                            <input type="text" placeholder="" class="form-control" [(ngModel)]="altInvest.as_of_date" [ngModelOptions]="{standalone: true}"
                                bsDatepicker>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_notes">Notes</label>
                    <input type="text" class="form-control" name="notes" id="field_notes" [(ngModel)]="altInvest.notes" [ngModelOptions]="{standalone: true}"
                        required/>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary"
                        (click)="c('Save click')">
                        <span class="fa fa-save"></span>&nbsp;
                        <span>Save</span>
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="d('Cross click')">
                        <span class="fa fa-ban"></span>&nbsp;
                        <span>Cancel</span>
                    </button>
                </div> <!-- footer -->
            </form>
    </div> <!-- body -->
</ng-template>
<ng-template #editaltModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="editaltModal">Alternative Investment</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form name="editForm" role="form" novalidate  #editForm="ngForm">    
            <div class="form-group">
                <label for="id">ID</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="field_id" 
                    name="id" 
                    [(ngModel)]="altInvest.num" 
                    [ngModelOptions]="{standalone: true}"
                />
            </div>
            <div class="form-group">
                <label 
                    class="form-control-label" 
                    for="field_fund_name">Fund Name
                </label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="fund_name" 
                    id="field_fund_name" 
                    [(ngModel)]="altInvest.fund_name" 
                    [ngModelOptions]="{standalone: true}"
                    required
                >
            </div>
            <div class="form-group">
                <label 
                    class="form-control-label" 
                    for="field_investor_name">Investor Name
                </label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="investor_name" 
                    id="field_investor_name" 
                    [(ngModel)]="altInvest.investor_name"
                    [ngModelOptions]="{standalone: true}" 
                    required
                />
            </div>
            <div class="form-group">
                <label 
                    class="form-control-label" 
                    for="field_p_date">Purchase Date
                </label>
                <input 
                    type="text" 
                    placeholder="" 
                    class="form-control" 
                    [(ngModel)]="altInvest.p_date" 
                    [ngModelOptions]="{standalone: true}"
                    bsDatepicker>
            </div>
            <div class="form-group">
                <label 
                    class="form-control-label" 
                    for="field_amount_invested">Amount Invested
                </label>
                <input 
                    type="number" 
                    class="form-control" 
                    name="amount_invested" 
                    id="field_amount_invested" 
                    [(ngModel)]="altInvest.amount_invested" 
                    [ngModelOptions]="{standalone: true}"
                    required/>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="form-control-label" for="field_market_value">Market Value</label>
                            <input type="number" class="form-control" name="market_value" id="field_market_value" [(ngModel)]="altInvest.market_value"
                                [ngModelOptions]="{standalone: true}" required />
                        </div>
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="form-control-label" f7or="field_as_of_date">As of Date</label>
                            <input type="text" placeholder="" class="form-control" [(ngModel)]="altInvest.as_of_date" [ngModelOptions]="{standalone: true}"
                                bsDatepicker>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_notes">Notes</label>
                    <input type="text" class="form-control" name="notes" id="field_notes" [(ngModel)]="altInvest.notes" [ngModelOptions]="{standalone: true}"
                        required/>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary"
                        (click)="c('Save click')">
                        <span class="fa fa-save"></span>&nbsp;
                        <span>Save</span>
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="d('Cross click')">
                        <span class="fa fa-ban"></span>&nbsp;
                        <span>Cancel</span>
                    </button>
                </div> <!-- footer -->
            </form>
    </div> <!-- body -->
</ng-template>
<!-- table -->
<table class="table table-hover table-sm">
    <thead>
        <tr>
            <th scope="col">Investor Name</th>
            <th scope="col"> Amount Invested</th>
            <th scope="col">Current Market Value</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let altInvest of alternateinvest; let i = index">
            <td> {{altInvest.investor_name}} </td>
            <td>{{altInvest.amount_invested}} </td>
            <td>{{altInvest.market_value}}</td>
            <td>
                <button 
                class="btn btn-outline-info" 
                type="button" 
                (click)="openEditAltInvest(editaltModal,altInvest.id)">
                <span> <i class="fa fa-edit" aria-hidden="true"></i></span>
                </button>             
            </td>
            <td>
                <button 
                    class="btn btn-outline-danger" 
                    type="button"
                    (click)="openDeleteAltInvest(altInvest.id)"
                    >
                    <span><i class="fa fa-trash" aria-hidden="true"></i></span>
                </button>
            </td>
        </tr>
    </tbody>
</table>
