<br><br>
<div class="container">
<mat-accordion>
  <mat-expansion-panel class="accordion" [expanded]="step === 0">
    <mat-expansion-panel-header>
      <mat-panel-title>
       <h4>Current Financial State</h4>
      </mat-panel-title>
      <mat-panel-description>

      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Your Income, Expenses, Assets and Liabilities are analyzed in this section. Based on the analysis, advice is provided on your cash flow, Net worth, Debt etc. <br> <a mat-stroked-button routerLink="/subscribe">Upgrade</a> <mat-expansion-panel></p>
      <mat-expansion-panel class="accordion" [expanded]="step === 0">
      <mat-expansion-panel-header>
          <mat-panel-title>
              Goals Advice
          </mat-panel-title>
          <mat-panel-description>
          
          </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
        <p>Based on your current surplus and investment assets, each goal is analyzed thoroughly and a recommendation prescribed. The recommendation would specify the savings that need to be made to achieve the goals.<a mat-stroked-button routerLink="/subscribe">Upgrade</a> <mat-expansion-panel></p>
         
      </div>  
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
          <mat-panel-title>
              Risk Advice
          </mat-panel-title>
          <mat-panel-description>
          
          </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
        <p>Based on your current expenses, important goals in life, this section makes recommendation on life insurance and medical insurance. The recommendations include the potential instruments that you can buy.<a mat-stroked-button routerLink="/subscribe">Upgrade</a> <mat-expansion-panel></p>
      </div>  
    </mat-expansion-panel> 
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Tax Advice
            </mat-panel-title>
            <mat-panel-description>
            
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <p>Based on your income and savings information, a tax assessment is created in this section. The advice includes the amount of tax saving possible and the ways to save tax<a mat-stroked-button routerLink="/subscribe">Upgrade</a> <mat-expansion-panel></p>
        </div>  
      </mat-expansion-panel> 
      <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                investment Advice
            </mat-panel-title>
            <mat-panel-description>
            
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <p>By combining your current financial state, future goals and risk appetite, a portfolio recommendation is provided. Your investments should be made in this portfolio.<a mat-stroked-button routerLink="/subscribe">Upgrade</a> <mat-expansion-panel></p>
        </div>  
      </mat-expansion-panel> 
    
  </mat-expansion-panel>
    </mat-accordion>
</div>