<div class="container" *ngIf="!isValid"><!--start of container-->
  <form><!--end of form-->
    <div class="navbar navbar-expand-lg navbar-light navb"style="background-color: #e3f2fd;"><!--start of navbar-->
      <h5>Personal Information</h5>
      <ul class="navbar-nav"><!--start ul-->
        <li class="nav-item">
          <button class="btn btn-link"><a class="nav-link" (click)="saveDetail()">Save</a></button>  
        </li>
        <li class="nav-item">
          <button class="btn btn-link"><a class="nav-link"  href="#">Cancle</a></button>  
        </li>
        <li class="nav-item">
          <button class="btn btn-link"><a class="nav-link" href="#">Help</a></button>  
        </li>
      </ul><!--end ul-->
    </div><!--end of navbar-->
    <div class="row"><!-- start of row1-->
      <div class="col-md-3"><!-- start of row1.col1-->
        <mat-form-field>
          <input matInput placeholder="First Name" type="text" 
          id="firstName" 
          class="form-control" 
          [(ngModel)]="myProfile.firstName"
          name="firstName" 
          #firstName="ngModel"
          minlength="5" 
          maxlength="10" 
          pattern="^[_'.@A-Za-z0-9-]*$"
          required>
        </mat-form-field>
        <div *ngIf=" firstName.touched && !firstName.valid">
          <div *ngIf="firstName.errors.required">
              firstName is required
          </div>
          <div *ngIf="firstName.errors.minlength">
              name should be min {{firstName.errors.minlength.requiredLength}} char
          </div>
          <div *ngIf="firstName.errors.pattern"> 
              pattern not match
          </div>
        </div>
      </div><!-- end of row1.col1-->
      <div class="col-md-3"><!-- start of row1.col2-->
        <mat-form-field>
          <input matInput placeholder="Middle Name"  type="text" 
          id="middleName" 
          class="form-control" 
          [(ngModel)]="myProfile.middleName"
          name="middleName" 
          #middleName="ngModel"
          minlength="5" 
          maxlength="10" 
          pattern="^[_'.@A-Za-z0-9-]*$"
          required>
        </mat-form-field>
        <div *ngIf=" middleName.touched && !middleName.valid">
        <div *ngIf="middleName.errors.required">
          middleName is required
        </div>
        <div *ngIf="middleName.errors.minlength">
          middleName name should be min {{middleName.errors.minlength.requiredLength}} char
        </div>
        <div *ngIf="middleName.errors.pattern"> 
            pattern not match
        </div>
      </div>
      </div><!-- end of row1.col2-->
      <div class="col-md-3"><!-- start of row1.col3-->
        <mat-form-field>
          <input matInput placeholder="Last Name"  type="text" 
          id="lastName" 
          class="form-control" 
          [(ngModel)]="myProfile.lastName"
          name="lastName" 
          #lastName="ngModel"
          minlength="5" 
          maxlength="10" 
          pattern="^[_'.@A-Za-z0-9-]*$"
          required>
        </mat-form-field>
        <div *ngIf=" lastName.touched && !lastName.valid">
          <div *ngIf="lastName.errors.required">
            lastName is required
          </div>
          <div *ngIf="lastName.errors.minlength">
            lastName name should be min {{lastName.errors.minlength.requiredLength}} char
          </div>
          <div *ngIf="lastName.errors.pattern"> 
              pattern not match
          </div>
        </div>
      </div><!-- end of row1.col3-->
      <div class="col-md-3"><!-- start of row1.col3-->
      </div><!-- end of row1.col3-->
    </div><!--end of row1-->
    <div class="row"><!-- start of row2-->
      <div class="col-md-3"><!-- start of row2.col1-->
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Choose a date" name="dob" [(ngModel)]="myProfile.dob">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div><!-- end of row2.col1-->
      <div class="col-md-3"><!-- start of row2.col2-->
        <mat-form-field>
          <mat-select placeholder="Choose Gender" name="gender" [(ngModel)]="myProfile.gender">
            <mat-option  value="male">Male</mat-option>
            <mat-option value="female">Female</mat-option>
          </mat-select>
        </mat-form-field> 
      </div><!--end of row2.col2-->
      <div class="col-md-3"><!--start of row2.col3-->
        <mat-form-field>
          <mat-select placeholder="Choose Marrital Status" name="maritalStatus" [(ngModel)]="myProfile.maritalStatus">
            <mat-option value="single">Single</mat-option>
            <mat-option value="married">Married</mat-option>
          </mat-select>
        </mat-form-field>
      </div><!-- end of row2.col3-->
      <div class="col-md-3"><!--start of row2.col4-->
        <mat-form-field>
          <input matInput placeholder="Mobile Number" type="text" 
          id="mobileNumber" 
          class="form-control" 
          [(ngModel)]="myProfile.mobileNumber"
          name="mobileNumber" 
          #mobileNumber="ngModel"
          minlength="10" 
          maxlength="10" 
          pattern="^[_'.@A-Za-z0-9-]*$"
          required>
        </mat-form-field>
        <div 
        *ngIf="mobileNumber.touched && !mobileNumber.valid">
        <div *ngIf="mobileNumber.errors.required">
          mobileNumber is required
        </div>
        <div *ngIf="mobileNumber.errors.minlength">
          mobileNumber name should be min {{mobileNumber.errors.minlength.requiredLength}} char
        </div>
        <div *ngIf="mobileNumber.errors.pattern"> 
            pattern not match
        </div>
      </div>
      </div><!--end of row1.col4-->
    </div><!--end of row2-->
    <div class="row"><!-- start of row3-->
      <div class="col-md-3"><!-- start of row3.col1-->
        <mat-form-field>
          <input matInput placeholder="Alternamte Number" type="text" 
          id="alternateNumber" 
          class="form-control" 
          [(ngModel)]="myProfile.alternateNumber"
          name="alternateNumber" 
          #alternateNumber="ngModel"
          minlength="10" 
          maxlength="10" 
          pattern="^[_'.@A-Za-z0-9-]*$"
          required>
        </mat-form-field>
        <div
        *ngIf="alternateNumber.touched && !alternateNumber.valid">
        <div *ngIf="alternateNumber.errors.required">
          alternateNumber is required
        </div>
        <div *ngIf="alternateNumber.errors.minlength">
          alternateNumber should be min {{alternateNumber.errors.minlength.requiredLength}} char
        </div>
        <div *ngIf="alternateNumber.errors.pattern"> 
            pattern not match
        </div>
      </div>
      </div><!-- end of row3.col1-->
      <div class="col-md-3"><!-- start of row3.col2-->
        <mat-form-field>
          <input matInput placeholder="Occupation"  type="text" 
          id="occupation" 
          class="form-control" 
          [(ngModel)]="myProfile.occupation"
          name="occupation" 
          #occupation="ngModel"
          minlength="5" 
          maxlength="10" 
          pattern="^[_'.@A-Za-z0-9-]*$"
          required>
        </mat-form-field>
        <div 
        *ngIf="occupation.touched && !occupation.valid">
        <div *ngIf="occupation.errors.required">
          occupation is required
        </div>
        <div *ngIf="occupation.errors.minlength">
          occupation should be min {{alternateNumber.errors.minlength.requiredLength}} char
        </div>
        <div *ngIf="occupation.errors.pattern"> 
            pattern not match
        </div>
      </div>
      </div><!--end of row3.col2-->
      <div class="col-md-3"><!--start of row3.col3-->
        <mat-form-field>
          <input matInput placeholder="Company"  type="text" 
          id="company" 
          class="form-control" 
          [(ngModel)]="myProfile.company"
          name="company" 
          #company="ngModel"
          minlength="5" 
          maxlength="10" 
          pattern="^[_'.@A-Za-z0-9-]*$"
          required>
        </mat-form-field>
        <div 
        *ngIf="company.touched && !company.valid">
        <div *ngIf="company.errors.required">
          company name is required
        </div>
        <div *ngIf="company.errors.minlength">
          company should be min {{company.errors.minlength.requiredLength}} char
        </div>
        <div *ngIf="company.errors.pattern"> 
            pattern not match
        </div>
      </div>
      </div><!-- end of row3.col3-->
      <div class="col-md-3"><!--start of row3.col4-->
        <mat-form-field>
          <mat-select placeholder="How Did You Know About Us?" name="howDidYouKnow" [(ngModel)]="myProfile.howDidYouKnow">
            <mat-option  value="advertiesment">Advertiesment</mat-option>
            <mat-option value="byfriend">ByFriend</mat-option>
          </mat-select>
        </mat-form-field> 
      </div><!--end of row3.col4-->
    </div><!--end of row3-->
    <div class="navbar navbar-expand-lg navbar-light"style="background-color: #e3f2fd;"><!--start of navbar-->
      <h5>Cammunication Information</h5>
    </div><!--end of navbar-->
    <div class="row"><!-- start of row4-->
      <div class="col-md-3"><!-- start of row4.col1-->
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Address" [(ngModel)]="myProfile.address" [ngModelOptions]="{standalone: true}"></textarea>
        </mat-form-field>
      </div><!-- end of row4.col1-->
      <div class="col-md-3"><!-- start of row4.col2-->
        <mat-form-field>
          <input matInput placeholder="Email" type="text" 
          id="emailId" 
          class="form-control" 
          [(ngModel)]="myProfile.emailId"
          name="emailId" 
          #emailId="ngModel"
          minlength="5" 
          maxlength="50"
          pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          required email>
        </mat-form-field>
        <div
        *ngIf="emailId.touched && !emailId.valid">
        <div *ngIf="emailId.errors.required">
          emailId is required
        </div>
        <div *ngIf="emailId.errors.minlength">
          emailId should be min {{emailId.errors.minlength.requiredLength}} char
        </div>
        <div *ngIf="emailId.errors.minlength">
          emailId should be min {{emailId.errors.minlength.requiredLength}} char
        </div>
        <div *ngIf="emailId.errors.pattern"> 
          email pattern not match
  </div>
        
      </div> 
      </div><!-- end of row4.col2-->
      <div class="col-md-3"><!-- start of row4.col3-->
        <mat-form-field>
          <input matInput placeholder="PAN Number" type="text" 
          id="pan" 
          class="form-control" 
          [(ngModel)]="myProfile.pan"
          name="pan" 
          #pan="ngModel"
          minlength="5" 
          maxlength="10" 
          pattern="^[_'.@A-Za-z0-9-]*$"
          required>
        </mat-form-field>
        <div
        *ngIf="pan.touched && !pan.valid">
        <div *ngIf="pan.errors.required">
          pan is required
        </div>
        <div *ngIf="pan.errors.minlength">
          pan should be min {{pan.errors.minlength.requiredLength}} char
        </div>
        <div *ngIf="pan.errors.pattern"> 
          pan pattern not match
        </div>
      </div>
      </div><!-- end of row4.col3-->
      <div class="col-md-3"><!-- start of row4.col4-->
      </div><!-- end of row4.col4-->
    </div><!--end of row4-->
    <div class="row"><!-- start of row5-->
      <div class="col-md-3"><!-- start of row5.col1-->
        <mat-form-field>
          <input matInput placeholder="Country" type="text" 
          id="country" 
          class="form-control" 
          [(ngModel)]="myProfile.country"
          name="country" 
          #country="ngModel"
          minlength="5" 
          maxlength="10" 
          pattern="^[_'.@A-Za-z0-9-]*$"
          required>
        </mat-form-field>
        <div
        *ngIf="country.touched && !country.valid">
        <div *ngIf="country.errors.required">
          country is required
        </div>
        <div *ngIf="country.errors.minlength">
          country should be min {{country.errors.minlength.requiredLength}} char
        </div>
        <div *ngIf="country.errors.pattern"> 
          pan pattern not match
        </div>
      </div>
      </div><!-- end of row5.col1-->
      <div class="col-md-3"><!-- start of row5.col2-->
        <mat-form-field>
          <input matInput placeholder="state" type="text" 
          id="state" 
          class="form-control" 
          [(ngModel)]="myProfile.state"
          name="state" 
          #state="ngModel"
          minlength="5" 
          maxlength="10" 
          pattern="^[_'.@A-Za-z0-9-]*$"
          required>
        </mat-form-field>
        <div
        *ngIf="state.touched && !state.valid">
        <div *ngIf="state.errors.required">
          state is required
        </div>
        <div *ngIf="state.errors.minlength">
          state should be min {{state.errors.minlength.requiredLength}} char
        </div>
        <div *ngIf="state.errors.pattern"> 
          state pattern not match
        </div>
      </div> 
      </div><!--end of row5.col2-->
      <div class="col-md-3"><!--start of row5.col3-->
        <mat-form-field>
          <input matInput placeholder="City" type="text" 
          id="city" 
          class="form-control" 
          [(ngModel)]="myProfile.city"
          name="city" 
          #city="ngModel"
          minlength="5" 
          maxlength="10" 
          pattern="^[_'.@A-Za-z0-9-]*$"
          required>
        </mat-form-field>
        <div
        *ngIf="city.touched && !city.valid">
        <div *ngIf="city.errors.required">
          city is required
        </div>
        <div *ngIf="city.errors.minlength">
          city should be min {{city.errors.minlength.requiredLength}} char
        </div>
        <div *ngIf="city.errors.pattern"> 
          city pattern not match
        </div>
      </div>
      </div><!-- end of row5.col3-->
      <div class="col-md-3"><!--start of row5.col4-->
        <mat-form-field>
            <input matInput placeholder="PIN" type="text" 
            id="pin" 
            class="form-control" 
            [(ngModel)]="myProfile.pin"
            name="pin" 
            #pin="ngModel"
            minlength="5" 
            maxlength="10" 
            pattern="^[_'.@A-Za-z0-9-]*$"
            required>
        </mat-form-field>
        <div *ngIf="pin.touched && !pin.valid">
        <div *ngIf="pin.errors.required">
          pin is required
        </div>
        <div *ngIf="pin.errors.minlength">
          pin should be min {{pin.errors.minlength.requiredLength}} char
        </div>
        <div *ngIf="pin.errors.pattern"> 
          pin pattern not match
        </div>
      </div>
      </div><!--end of row5.col4-->
    </div><!--end of row5-->
  </form><!--end of form-->
</div><!--end of container-->
<div class="container background" *ngIf="isValid" style="background-color:#e9ece5;">
  <div class="navbar navbar-expand-lg navbar-light navb" style="background-color:#a8b6bf"><!--start of navbar-->
    <h5>Personal Information</h5>
    </div><!--End of navbar-->
    <!-- <div> -->
      <!-- <table *ngFor="let profile of output">
        <tr>
            <td><h5>FirstName:</h5></td>&nbsp;
          <td><h5>{{profile.firstName}}</h5></td>
        </tr>
        <tr>
            <td><h5>MiddleName:</h5></td>&nbsp;
          <td>{{profile.middleName}}</td><br><br>
        </tr>
        <tr>
            <td><h5>LastName:</h5></td>&nbsp;
          <td>{{profile.lastName}}</td><br><br>
        </tr>
        <tr>
            <td><h5>Address:</h5></td>&nbsp;
          <td>{{profile.address}}</td><br><br>
        </tr>
        <tr>
            <td><h5>Alternative:</h5></td>&nbsp;
          <td>{{profile.alternateNumber}}</td><br><br>
        </tr>
        <tr>
            <td><h5>City:</h5></td>&nbsp;
          <td>{{profile.city}}</td><br><br>
        </tr>
        <tr>
            <td><h5>Company:</h5></td>&nbsp;
          <td>{{profile.company}}</td><br><br>
        </tr>
        <tr>
            <td><h5>Country:</h5></td>&nbsp;
          <td>{{profile.country}}</td><br><br>
        </tr>
        <tr>
            <td><h5>Date Of Birth:</h5></td>&nbsp;
          <td>{{profile.dob}}</td><br><br>
        </tr>
        <tr>
            <td><h5>Gender:</h5></td>&nbsp;
          <td>{{profile.gender}}</td><br><br>
        </tr>
        <tr>
            <td><h5>How Did You Know:</h5></td>&nbsp;
          <td>{{profile.howDidYouKnow}}</td><br><br>
        </tr>
        <tr>
            <td><h5>Marital Status:</h5></td>&nbsp;
          <td>{{profile.maritalStatus}}</td><br><br>
        </tr>
        <tr>
            <td><h5>Mobile Number:</h5></td>&nbsp;
          <td>{{profile.mobileNumber}}</td><br><br>
        </tr>
        <tr>
            <td><h5>Occupation:</h5></td>&nbsp;
          <td>{{profile.occupation}}</td><br><br>
        </tr>
        <tr>
            <td><h5>Pan:</h5></td>&nbsp;
          <td>{{profile.pan}}</td><br><br>
        </tr>
        <tr>
            <td><h5>Pin:</h5></td>&nbsp;
          <td>{{profile.pin}}</td><br><br>
        </tr>
        <tr>
            <td><h5>State:</h5></td>&nbsp;
          <td>{{profile.state}}</td><br><br>
        </tr>
      </table> -->
    <!-- </div>  -->
    <div *ngFor="let profile of output">
      <div class="row">
        <div class="col-md-4">
            <h5>FirstName:&nbsp;{{profile.firstName}}</h5>   
        </div>
        <div class="col-md-4">
            <h5>MiddleName:&nbsp;{{profile.middleName}}</h5>
            <h5></h5>
        </div>
        <div class="col-md-4">
            <h5>LastName:&nbsp;{{profile.lastName}}</h5>
        </div>
      </div>
      <div class="row">
          <div class="col-md-4">
              <h5>Gender:&nbsp;{{profile.gender}}</h5>   
          </div>
          <div class="col-md-4">
              <h5>MaritalStatus:&nbsp;{{profile.maritalStatus}}</h5>
              <h5></h5>
          </div>
          <div class="col-md-4">
              <h5>Date Of Birth:&nbsp;{{profile.dob}}</h5>
          </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h5>Occupation:&nbsp;{{profile.occupation}}</h5>   
            </div>
            <div class="col-md-4">
                <h5>Mobile:&nbsp;{{profile.mobileNumber}}</h5>
                <h5></h5>
            </div>
            <div class="col-md-4">
                <h5>Alternamte Number:&nbsp;{{profile.alternateNumber}}</h5>
            </div>
          </div>
          <div class="row">
              <div class="col-md-4">
                  <h5>company:&nbsp;{{profile.company}}</h5>   
              </div>
              <div class="col-md-4">
                  <h5>How Did You Know:&nbsp;{{profile.howDidYouKnow}}</h5>
                  <h5></h5>
              </div>
              <div class="col-md-4">
                  <h5>Address:&nbsp;{{profile.address}}</h5>   
              </div>
            </div>
            <div class="navbar navbar-expand-lg navbar-light navb"  style="background-color:#a8b6bf"><!--start of navbar-->
              <h5>Cammunication Information</h5>
              </div><!--End of navbar-->
            <div class="row">
                <div class="col-md-4">
                    <h5>Email-Id:&nbsp;{{profile.emailId}}</h5>  
                </div>
                <div class="col-md-4">
                    <h5>Pan:&nbsp;{{profile.pan}}</h5>
                    <h5></h5>
                </div>
                <div class="col-md-4">
                    <h5>City:&nbsp;{{profile.city}}</h5>
                </div>
              </div>
              <div class="row">
                  <div class="col-md-4">
                      <h5>State:&nbsp;{{profile.state}}</h5>
                      <h5></h5>
                  </div>
                  <div class="col-md-4">
                      <h5>Country:&nbsp;{{profile.country}}</h5>
                  </div>
                  <div class="col-md-4">
                      <h5>Pin:&nbsp;{{profile.pin}}</h5>
                  </div>
                </div>
    </div>
 </div>