<br><br>

<div class="container">
    <div [ngSwitch]="isAuthenticated()">
        <div class="alert alert-warning" *ngSwitchCase="false">
            <span>You are not signed in. <br> If you want to sign in</span>
            <a class="alert-link" (click)="login()">Click here</a>
        </div>

        <div *ngSwitchCase="true">
            
            <mat-expansion-panel class="accordion" [expanded]="step === 0">
                
                <!-- Header -->
                <mat-expansion-panel-header>
                    <mat-panel-title>
                    Income
                    </mat-panel-title>
                    <mat-panel-description>
                        Fill your income details
                    </mat-panel-description>
                </mat-expansion-panel-header>
            
                <!-- buttons -->
                <div>
                    <div class="float-right">
                        <button type="button" class="btn btn-link" data-toggle="modal" (click)="openIncome(incomeContent)">
                            <span>
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                <span>Add</span>
                            </span>
                        </button>
                        

                        <div [ngSwitch]="isIncomeData">
                            <div *ngSwitchCase="true">
                                <button type="button" class="btn btn-link" (click)="updateIncome()">
                                    <i class="fa fa-save" aria-hidden="true"></i>
                                    <span>Update</span>
                                </button>
                            </div>
                            <div *ngSwitchCase="false">
                                <button type="button" class="btn btn-link" (click)="saveIncome()">
                                    <i class="fa fa-save" aria-hidden="true"></i>
                                    <span>Save</span>
                                </button>
                            </div>
                        </div>
                    
                    </div>
                </div>
            
                <!-- modal, dialog -->
                <ng-template #incomeContent let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <h4 class="modal-title" id="incomeModal">Income Add</h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                    <form class="example-container" #incomeAdd="ngForm">
                        <div>
                            <mat-form-field class="example-full-width">
                                <input matInput required placeholder="Name" value="" [(ngModel)]="resource" name="resource-name" >
                                <mat-hint>Please enter your resource of income </mat-hint>
                            </mat-form-field>
                            </div>
                        
                            <div>
                            <mat-form-field class="example-full-width">
                                <input matInput jhiNumberOnly required placeholder="Amount" type="number" value="" [(ngModel)]="amount" name="amount-name" >
                                <mat-hint>Please enter amount</mat-hint>
                            </mat-form-field>
                            </div>
                            <br> <br>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-dark" (click)="c('Save click')" [disabled]="incomeAdd.form.invalid">Add</button>
                        </div>
                    </form>
                    </div>
                </ng-template>
                
                <!-- Table -->
                <table class="table table-hover table-sm">
                        <thead>
                            <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Monthly Amount</th>
                            <th scope="col">Yearly Amount</th>
                            <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> Post Tax Take Home Salary of # </td>
                                <td><input jhiNumberOnly type="number"  [(ngModel)]="income.incomeSalary" name="income-salary" > </td>
                                <td> {{income.incomeSalary * 12}} </td>
                            </tr>
                            <tr>
                            <td> Performance award / bonus </td>
                            <td> <input jhiNumberOnly type="number" id="21" [(ngModel)]="income.incomeAward"  name="income-award"  > </td>
                            <td> {{income.incomeAward * 12}} </td>
                            </tr>
                            <tr>
                            <td> Sign-up bonus </td>
                            <td> <input jhiNumberOnly type="number" id="31" [(ngModel)]="income.incomeBonus"  name="income-bonus"  > </td>
                            <td> {{income.incomeBonus * 12}}    </td>
                            </tr>
                            <tr>
                            <td> Pensions </td>
                            <td> <input jhiNumberOnly type="number" id="41" [(ngModel)]="income.incomePension"  name="income-pension"  > </td>
                            <td> {{income.incomePension * 12}}  </td>
                            </tr>
                            <tr>
                            <td> Interest earned on savings </td>
                            <td> <input jhiNumberOnly type="number" id="51" [(ngModel)]="income.incomeSaving"  name="income-saving"  > </td>
                            <td> {{income.incomeSaving * 12}}  </td>
                            </tr>
                            <tr>
                            <td> Income from investments(Deposites, Securities) </td>
                            <td> <input jhiNumberOnly type="number" id="61" [(ngModel)]="income.incomeDeposit"  name="income-deposit"  > </td>
                            <td> {{income.incomeDeposit * 12}} </td>
                            </tr>
                            <tr>
                            <td> Rental Income </td>
                            <td> <input jhiNumberOnly type="number" id="71" [(ngModel)]="income.incomeRental"  name="income-rental"  > </td>
                            <td> {{income.incomeRental * 12}} </td>
                            </tr>
                            <!-- </tbody>
                            <tbody *ngIf="incomeStatus === saved">
                            <tr *ngFor="let field of IncomeArray">
                                <td> {{field.name}} </td>
                                <td><input  type="number" value="{{field.value}}"    > </td>
                                <td><input  type="number" value="{{field.value * 12}}"    disabled> </td>
                            </tr>
                            </tbody> -->
                            <tr *ngFor="let field of dynamicIncome; let i = index">
                                <td> {{field.name}} </td>
                                <td><input  type="number" value="{{field.value}}"    disabled> </td>
                                <td>{{field.value * 12}} </td>
                                <td><button class="btn btn-outline-info"  type="button" (click)="deleteFieldValue(i)" >
                                <span> <i class="fa fa-trash" aria-hidden="true"></i></span></button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                                <tr >
                                <th scope="col">Total</th>
                                <th *ngIf="!loadIncome"> {{totalIncome}} </th>
                                <th *ngIf="loadIncome">
                                    {{ income.incomeSalary + income.incomeAward + income.incomeBonus + income.incomePension + income.incomeSaving + income.incomeDeposit + income.incomeRental + dynamicTotal }}
                                </th>
                                <th> {{( income.incomeSalary + +income.incomeAward + income.incomeBonus + income.incomePension +   +income.incomeSaving +income.incomeDeposit + income.incomeRental + dynamicTotal ) * 12 }}
                                </th>
                                </tr>
                        </tfoot>
                </table>
            </mat-expansion-panel>
        </div>      
    </div>
</div>
