<div class="row"><!--start of row1 div-->
  <div class="col-md-6"><!--start of row1.col1 div-->
    <label><h6><b>Select Asset Type</b></h6></label>
  </div><!--end of row1.col1 div-->
  <div class="setmar col-md-6"><!--start of row1.col2 div-->
    <div><!--start of select div-->
      <mat-form-field>
        <mat-select placeholder="Choose Assets" name="assettype" [(ngModel)]="assettype">
          <mat-option  value="Stock">Stock</mat-option>
          <mat-option value="Mutual Fund">Mutual Fund</mat-option>
          <mat-option value="Chit Fund">Chit Fund</mat-option>
          <mat-option value="Future and Option">Future and Option</mat-option>
          <mat-option value="Saving Scheme">Saving Scheme</mat-option>
          <mat-option value="Alternative Investment">Alternative Investment</mat-option>
          <mat-option value="cash">Cash</mat-option>
          <mat-option value="physical goods">Physical Goods</mat-option>
          <mat-option value="Property and household">Property and Household</mat-option>
        </mat-select>
      </mat-form-field> 
    </div><!--end of select div-->
  </div><!--start of row1.col2 div-->
</div><!--end of row1 div-->
<div class="row">
  <h6>Available Asset to map</h6>
</div>
<div>
  <table>
    <tr>
      <th>Asset Name</th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <th>Value</th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <th>Value to Map</th>
    </tr>
  </table>
</div>
<div class="pull-right"><!--start of btn div-->
  <button mat-button color="primary">Submit</button>
  <button mat-button color="accent" (Click)="onNoClick()">Cancel</button>
</div>
