<div class="row"><!--start of row1 div-->
  <div class="col-md-6"><!--start of row1.col1 div-->
    <label><h6><b>Select Asset Type</b></h6></label>
  </div><!--end of row1.col1 div-->
  <div class="setmar col-md-6"><!--start of row1.col2 div-->
    <div><!--start of select div-->
      <mat-form-field>
        <mat-select placeholder="Choose Assets" name="assettype" [(ngModel)]="assettype">
          <mat-option  value="stocks" (click)="getAsset()">Stock</mat-option>
          <mat-option value="mutual" (click)="getAsset()">Mutual Fund</mat-option>
          <mat-option value="ChitFund" (click)="getAsset()">Chit Fund</mat-option>
          <mat-option value="FutureandOption"  (click)="getAsset()">Future and Option</mat-option>
          <mat-option value="SavingScheme" (click)="getAsset()">Saving Scheme</mat-option>
          <mat-option value="AlternativeInvestment" (click)="getAsset()">Alternative Investment</mat-option>
          <mat-option value="cash" (click)="getAsset()">Cash</mat-option>
          <mat-option value="physicalgoods" (click)="getAsset()">Physical Goods</mat-option>
          <mat-option value="Propertyandhousehold"  (click)="getAsset()">Property and Household</mat-option>
        </mat-select>
      </mat-form-field> 
    </div><!--end of select div-->
  </div><!--start of row1.col2 div-->
</div><!--end of row1 div-->
<div class="row">
  <h6>Available Asset to map</h6>
</div>
<div>
  <table>
    <tr>
      <th></th>&nbsp;
      <th>Asset Name</th>&nbsp;
      <th>Value</th>&nbsp;
      <th>Value to Map</th>
    </tr>
    <tr *ngFor="let output of out; let i = index">
        <td> <mat-checkbox ></mat-checkbox></td>&nbsp;
        <td>{{output.company_name}}</td>&nbsp;
        <td>{{output.share_price}}</td>
    </tr>
  </table>
</div>
<div class="pull-right"><!--start of btn div-->
  <button mat-button color="primary"(click)="sub()">Submit</button>
  <button mat-button color="accent" (click)="onNoClick()">Cancel</button>
</div>
